.i18ndoc{background-color:#FFF77D;border-bottom:1px solid lightgrey;font-family:monospace;font-size:8pt;height:140px;overflow:auto;padding:3px} * tt,* code{white-space:pre; background-color:#C1E7CB}@media print{  }

/* cache key: vim:resourceloader:filter:minify-css:7:9decc90596a74ce3a87fa1f58b62fb3d */