/* ::::: http://osdir.com/ml/css/defaultv6.css ::::: */

body { margin: 0px; padding: 0px; border: 0px none; width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 14px; font-family: "Verdana",Georgia,Serif; }
a { color: rgb(43, 62, 174); }
a:hover { text-decoration: none; }
h1, h2, h3 { margin: 0.8em 0px 0.2em; padding: 0px; font-size: 15px; }
p { margin: 0.4em 0px 0.8em; padding: 0px; }
img { margin: 10px 0px 5px; }
iframe { border: 0px none; }
.round10 {  }
.adContainer { display: inline; }
.osDirPrevNext { border: 2px solid rgb(0, 170, 0); padding: 5px; margin: 0px; font-size: 15pt; }
.osDirPrevNext a:link, .osDirPrevNext a:visited { color: rgb(43, 62, 174); }
.osDirMessageTitle { color: rgb(0, 0, 0); }
.osDirMsgContainer { border: 4px solid rgb(70, 89, 148); padding: 10px; overflow: auto; margin-bottom: 5px; }
.osdirMsgPreview { padding: 5px; margin-bottom: 2px; overflow: hidden; height: 3em; }
.osdirMsgPreview h3 { font-weight: normal; background: none repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#homeClick { cursor: pointer; font-family: Arial,Helvetica,sans-serif; width: 9em; }
#topBarBox { background: url('gradient.jpg') repeat scroll 0% 0% transparent; margin: 10px; padding: 10px; width: 1140px; height: 95px; border: 2px solid rgb(70, 89, 148); }
#disqus_thread { border: 4px solid rgb(70, 89, 148); padding: 5px; margin-top: 5px; }
.blueBorder { border: 3px solid rgb(70, 89, 148); }
.cleanDis a:link, a:hover { text-decoration: none; }
.cleanDis a:hover { text-decoration: underline; }
.cleanDis h2, h3 { padding: 5px; margin: 0px; font-size: 11pt; text-decoration: none; background: url('gradient.jpg') repeat scroll 0px -30px transparent; }
.cleanDis { font-family: arial,sans-serif; font-size: 9pt; padding: 5px; overflow: hidden; }
/* ::::: http://osdir.com/ml/css/disqusv3.css ::::: */

#disqus_thread { margin-bottom: 10px; }
#dsq-content .dsq-comment-footer-reply-tab::-moz-focus-inner { border: medium none; }
#disqus_thread { margin-top: 2em; margin-left: 15px; margin-right: 15px; }
#disqus_thread { display: block; padding-top: 15px; }
