/* ::::: http://www.yzeeed.com/vb/clientscript/vbulletin_css/style-2b32d0eb-00081.css ::::: */

body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(138, 138, 138); font: 11px tahoma; margin: 0px; padding: 0px; }
a:link, body_alink { color: rgb(90, 90, 90); text-decoration: none; }
a:visited, body_avisited { color: rgb(90, 90, 90); text-decoration: none; }
a:hover, a:active, body_ahover { color: rgb(27, 95, 172); text-decoration: none; }
.page { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(90, 90, 90); font-family: tahoma; }
.tborder { background: none repeat scroll 0% 0% rgb(217, 217, 217); color: rgb(90, 90, 90); border: 2px solid rgb(235, 235, 235); }
.tcat { background: url('gradient_tcat.gif') repeat-x scroll left top rgb(31, 101, 180); color: rgb(255, 255, 255); font: bold 11px tahoma; }
.thead { background: none repeat scroll 0% 0% rgb(226, 226, 226); color: rgb(90, 90, 90); font: bold 11px tahoma; }
.thead a:link, .thead_alink { color: rgb(90, 90, 90); }
.thead a:visited, .thead_avisited { color: rgb(90, 90, 90); }
.thead a:hover, .thead a:active, .thead_ahover { color: rgb(53, 127, 211); }
.tfoot { background: none repeat scroll 0% 0% rgb(226, 226, 226); color: rgb(142, 142, 142); font: 11px tahoma; }
.tfoot a:link, .tfoot_alink { color: rgb(142, 142, 142); }
.tfoot a:visited, .tfoot_avisited { color: rgb(142, 142, 142); }
.tfoot a:hover, .tfoot a:active, .tfoot_ahover { color: rgb(53, 127, 211); }
.alt1, .alt1Active { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); font: bold 15px arial; }
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink { color: rgb(90, 90, 90); }
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited { color: rgb(90, 90, 90); }
.alt1 a:hover, .alt1 a:active, .alt1_ahover, .alt1Active a:hover, .alt1Active a:active, .alt1Active_ahover { color: rgb(27, 96, 173); }
.alt2, .alt2Active { background: none repeat scroll 0% 0% rgb(241, 241, 241); color: rgb(102, 102, 102); font: bold 15px arial; }
.alt2 a:hover, .alt2 a:active, .alt2_ahover, .alt2Active a:hover, .alt2Active a:active, .alt2Active_ahover { color: rgb(27, 96, 173); }
textarea, .bginput { color: rgb(102, 102, 102); font: 11px tahoma; }
.button { font: 11px tahoma; }
select { color: rgb(102, 102, 102); font: 11px tahoma; }
option, optgroup { font-size: 11px; font-family: tahoma; }
.smallfont { font: 11px tahoma; }
.time { color: rgb(193, 1, 23); }
.navbar { font: 11px tahoma; }
.fjsel { background: none repeat scroll 0% 0% rgb(62, 92, 146); color: rgb(224, 224, 246); }
.fjdpth0 { background: none repeat scroll 0% 0% rgb(247, 247, 247); color: rgb(0, 0, 0); }
legend { color: rgb(27, 96, 172); font: 11px tahoma; }
.vbmenu_control { background: url('gradient_nav.gif') repeat-x scroll left top rgb(31, 101, 180); color: rgb(255, 255, 255); font: bold 11px tahoma; padding: 3px 6px; white-space: nowrap; }
.vbmenu_control a:link, .vbmenu_control_alink { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_control a:visited, .vbmenu_control_avisited { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_popup { background: none repeat scroll 0% 0% rgb(204, 204, 204); color: rgb(102, 102, 102); border: 1px solid rgb(11, 25, 140); }
.vbmenu_option { background: none repeat scroll 0% 0% rgb(253, 253, 253); color: rgb(30, 100, 178); font: 11px tahoma; white-space: nowrap; cursor: pointer; }
.vbmenu_option a:link, .vbmenu_option_alink { color: rgb(30, 100, 178); text-decoration: none; }
.vbmenu_option a:visited, .vbmenu_option_avisited { color: rgb(30, 100, 178); text-decoration: none; }
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover { color: rgb(197, 25, 25); text-decoration: none; }
.bigusername { font-size: 14pt; }
td.thead, th.thead, div.thead { padding: 4px; }
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px; }
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }
.header { background: url('yzeeed_02.png') repeat-x scroll 0% 0% transparent; height: 177px; }
.footer { background: url('yzeeed_08.png') repeat-x scroll 0% 0% transparent; height: 55px; }
.links { width: 38%; padding: 5px; margin: 0px auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(190, 190, 190); text-align: center; color: rgb(0, 94, 174); font-weight: bold; border-radius: 3px 3px 3px 3px; }
.warning { font-family: Tahoma; font-size: 12px; font-weight: normal; color: rgb(212, 3, 67); text-align: center; }
.des { background: none repeat scroll 0% 0% rgb(225, 240, 255); width: 180px; padding: 3px; margin: 0px auto; text-align: center; }
.des1 { color: rgb(153, 102, 51); }
#tags h1 { font-family: Arial; font-size: 17px; }
#tags h2 { font-family: Arial; font-size: 15px; }
/* ::::: http://www.yzeeed.com/vb/clientscript/vbulletin_important.css?v=387 ::::: */

form { margin: 0px; }
label { cursor: default; }
.inlineimg { vertical-align: middle; }
