{{extend 'qastack_layout.html'}}

<h2 class="fancy">{{=XML(T('About QA-Stack'))}}</h2>

<div class="paragraph">

<p>QA-Stack is a dynamic web application created using the python programming
language under the web2py framework.</p>

<p>QA-Stack aims to provide an easy-to-use, simple and elegant questions and
answers (Q&amp;A) application for the Open Source community. It was originally
aimed to be a Q&amp;A application solely for python questions and projects, but it
evolved into a more general-purpose Q&amp;A application.</p>

<p>QA-Stack is released as Open Source under the Simplified BSD license
(Included in this software package). You are
free to download, copy and modify the source code,
providing that you keep mentions of the author within the code. Happy hacking.</p>

<div><em>External resources and references:</em></div>
<ul>
    <li><a href="http://www.python.org/"
    title="Python Programming Language Homepage">http://www.python.org/</a></li>
    <li><a href="http://www.web2py.com/"
    title="web2py Web Application Framework Homepage">http://www.web2py.com/</a></li>
    <li><a href="http://www.techfuel.net/zblog/default/whoami"
    title="QA-Stack author homepage">http://www.techfuel.net/</a>
</ul>

<p style="margin-top:25px;"><a href="{{=URL(r=request, c='default', f='index')}}"
title="{{=XML(T('Back to Home Page'))}}">{{=XML(T('Back to Home Page'))}}</a></p>

</div>