{{extend 'qastack_layout.html'}}

<h2 class="fancy">{{=XML(T('Tags'))}}</h2>

{{if view_info['errors']:}}
    <p class="err">{{=XML(T('There was one or more messages generated while processing your request, please review the following'))}}</p>
    <ul>
        {{for error in view_info['errors']:}}
            <li class="err">{{=XML(T(error))}}</li>
        {{pass}}
    </ul>
{{pass}}

<p>{{=XML(T('The following list shows the 30 most popular tags, click on any of them to view questions pertaining these tags'))}}.</p>

<div class="paragraph-all">
    <table cellspacing="0" cellpadding="0" class="ftable">
        <thead>
            <tr class="shadedarker">
                <th>Rank</th>
                <th style="text-align:left;">{{=XML(T('Tagname'))}}</th>
                <th>{{=XML(T('Count'))}}</th>
            </tr>
        </thead>
        <tbody>
            {{for idx,tag in enumerate(tags):}}
                <tr {{if idx%2:}}class="shadedark"{{pass}}>
                    <td style="text-align:center;color:#cacaca;">{{=idx+1}}</td>
                    <td>
                        <a href="{{=URL(r=request, c='default', f='index', args=['tags'], vars=dict(tag=tag.tags.tagname))}}"
                        title="{{=XML(T('View questions related to'))}} {{=tag.tags.tagname}}">{{=tag.tags.tagname}}</a>
                    </td>
                    <td style="text-align:center;">{{=tag['COUNT(question_tags.id)']}}</td>
                </tr>
            {{pass}}
        </tbody>
    </table>
</div>

<script type="text/javascript">
<!--
     document.getElementById('atags').className = 'active';
//-->
</script>