body { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10pt; font-style: normal; line-height: normal; font-weight: normal; text-transform: none; text-decoration: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
A:link { color: rgb(0, 0, 255); }
A:active { color: rgb(0, 0, 255); }
A:visited { color: rgb(128, 0, 128); }
A:hover { color: rgb(255, 0, 102); text-decoration: none; }
