{{extend 'qastack_layout.html'}}
{{include 'admin_common.html'}}

<script type="text/javascript">
<!--
     document.getElementById('aadmin').className = 'active';
//-->

</script>

<h2 class="fancy">Administrative Messages - Q&amp;A Management - Hidden Answers</h2>

<p><a href="{{=URL(r=request, c='admin', f='qa_mgmt')}}" title="">&lt;&lt; Back</a></p>

{{if answers:}}
    <table cellspacing="0" cellpadding="0" class="ftable">
        <thead>
            <tr class="shadedarker">
                <th>&nbsp;</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{for idx,a in enumerate(answers):}}
                <tr class="{{if idx%2:}}shadedark{{else:}}shadelight{{pass}}">
                    <td style="text-align:center;">{{=idx+1}}</td>
                    <td>
                        <a href="{{=URL(r=request, c='default', f='view', args=[a.questions.id])}}"
                        title="">{{=a.questions.title}}</a>
                    </td>
                    <td>
                        {{=XML(parse_content(a.answers.description))}}
                    </td>
                    <td>{{=a.answers.modified_on.strftime('%c')}}</td>
                    <td>
                        <a href="{{=URL(r=request, c='admin', f='qa_mgmt_actions', vars=dict(action='release', action_type='answer', question=a.questions.id, answer=a.answers.id))}}"
                           title="Make it publicly available"
                           onclick="return confirm('This answer and any dependencies (comments) will become visible.\n\nPlease Confirm');"
                           class="nolink"
                        ><img src="{{=URL(r=request, c='static/images/small', f='checkmark.png')}}"
                            alt="Restore"
                            style="vertical-align:middle;" /></a>
                        <a href="{{=URL(r=request, c='admin', f='qa_mgmt_actions', vars=dict(action='remove', action_type='answer', question=a.questions.id, answer=a.answers.id))}}"
                           title="Remove from the system"
                           onclick="return confirm('This answer and any dependencies (comments) will be permanently removed from the system.\n\nPlease Confirm');"
                           class="nolink"
                        ><img src="{{=URL(r=request, c='static/images/small', f='x.png')}}"
                            alt="Remove Permanently"
                            style="vertical-align:middle;" /></a>
                    </td>
                </tr>
            {{pass}}
        </tbody>
    </table>
{{else:}}
    <p>No hidden questions found.</p>
{{pass}}