{{extend 'qastack_layout.html'}}
{{include 'admin_common.html'}}

<script type="text/javascript">
<!--
     document.getElementById('aadmin').className = 'active';
//-->

</script>

<h2 class="fancy">Administrative Messages - Q&amp;A Management</h2>

<p>The following shortcuts are available:</p>

<table cellspacing="0" cellpadding="0" class="ftable">
    <thead>
        <tr class="shadedarker">
            <th style="text-align:center;">Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr class="shadedark">
            <td><a href="{{=URL(r=request, c='admin', f='qa_mgmt_hq')}}" title="">Hidden Questions</a></td>
            <td style="text-align:center;">{{=q_cnt}}</td>
        </tr>
        <tr>
            <td><a href="{{=URL(r=request, c='admin', f='qa_mgmt_hqc')}}" title="">Hidden Comments on Questions</a></td>
            <td style="text-align:center;">{{=qc_cnt}}</td>
        </tr>
        <tr>
            <td><a href="{{=URL(r=request, c='admin', f='qa_mgmt_ha')}}" title="">Hidden Answers</a></td>
            <td style="text-align:center;">{{=a_cnt}}</td>
        </tr>
        <tr>
            <td><a href="{{=URL(r=request, c='admin', f='qa_mgmt_hac')}}" title="">Hidden Comments on Answers</a></td>
            <td style="text-align:center;">{{=ac_cnt}}</td>
        </tr>
    </tbody>
</table>