[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u
Icon=web-browser
StartupNotify=false
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
Name=Web Browser
Name[ar]=متصفّح وِب
Name[ast]=Restolador web
Name[be]=Гартач Сеціва
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[cy]=Porydd Gwê
Name[da]=Webbrowser
Name[de]=Webbrowser
Name[dz]=ཝེབ་བརྡ་འཚོལ་པ།
Name[el]=Περιηγητής διαδικτύου
Name[en_GB]=Web Browser
Name[es]=Navegador web
Name[et]=Veebibrauser
Name[eu]=Web nabigatzailea
Name[fi]=Web-selain
Name[fr]=Navigateur Web
Name[gl]=Navegador web
Name[he]=דפדפן אינטרנט
Name[hr]=Web preglednik
Name[hu]=Webböngésző
Name[id]=Peramban Web
Name[it]=Browser web
Name[ja]=ウェブブラウザ
Name[kk]=Веб браузері
Name[ku]=Geroka Torê
Name[lv]=Tīmekļa pārlūks
Name[mk]=Web пребарувач
Name[nb]=Nettleser
Name[nl]=Webbrowser
Name[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa
Name[pt]=Navegador web
Name[pt_BR]=Navegador web
Name[ro]=Navigator
Name[ru]=Веб-браузер
Name[sk]=Webový prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Shfletues Web
Name[sv]=Webbläsare
Name[tl_PH]=Web Browser
Name[tr]=İnternet Tarayıcısı
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач Web
Name[ur]=ویب براؤزر
Name[ur_PK]=ویب براؤزر
Name[zh_CN]=网络浏览器
Name[zh_TW]=網路瀏覽器
Comment=Browse the web
Comment[ar]=تصفح الوِب
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navega la web
Comment[cs]=Procházet web
Comment[da]=Gennemse internettet
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον ιστό
Comment[en_GB]=Browse the web
Comment[es]=Navegar por la web
Comment[eu]=Nabigatu web-a
Comment[fi]=Selaa verkkosivuja
Comment[fr]=Naviguer sur internet
Comment[gl]=Navegar pola web
Comment[he]=גלישה באינטרנט
Comment[hr]=Pregledaj web
Comment[hu]=Webböngészés
Comment[id]=Ramban web
Comment[is]=Flakka á vefnum
Comment[it]=Naviga in rete
Comment[ja]=ウェブを閲覧します
Comment[kk]=Интернетті шолу
Comment[nb]=Surfe på nettet
Comment[nl]=Blader door het web
Comment[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegar pela web
Comment[ro]=Navigați pe net
Comment[ru]=Смотреть в интернете
Comment[sk]=Prehliadať web
Comment[sv]=Surfa på webben
Comment[tr]=Web'de gezin
Comment[ug]=تور كۆرىدۇ
Comment[uk]=Мандруйте Інтернетом
Comment[zh_CN]=浏览网页
Comment[zh_TW]=瀏覽網路
