/* ::::: https://plusone.google.com/_/scs/apps-static/_/ss/k=oz.plus_followers_widget.q7k9jbqcv3ie.L.F4.O/am=ssD_AQ/rs=AItRSTOnyNeuIt1phB_Q1Ab-vfVmDS1_1g ::::: */

.a-f-e { position: relative; display: inline-block; }
* html .a-f-e, :first-child + html .a-f-e { display: inline; }
.c-b { border-radius: 2px 2px 2px 2px; cursor: default; font-size: 12px; font-weight: bold; text-align: center; white-space: nowrap; margin-right: 16px; height: 28px; line-height: 28px; min-width: 54px; outline: 0px none; padding: 0px 8px; }
.c-b-T { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , transparent, transparent); color: rgb(64, 64, 64); border: 1px solid rgba(0, 0, 0, 0.15); }
.c-b-T:active, .c-b-T.c-b-C:active { box-shadow: 0px 2px 0px rgb(221, 221, 221) inset; background: none repeat scroll 0% 0% rgb(229, 229, 229); color: rgb(38, 38, 38); }
.c-b-T:focus { border: 1px solid rgb(217, 217, 217); outline: 4px solid rgb(199, 220, 252); }
.y-qa-za-b { margin: 0px; overflow: hidden; text-overflow: ellipsis; text-transform: none; white-space: nowrap; word-wrap: normal; }
body { background-color: transparent; font: 13px normal arial,sans-serif; margin: 0px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
img { border: 0px none; }
body, th, td { font: 13px arial,sans-serif; }
a:link, a:visited { color: rgb(51, 102, 204); cursor: pointer; text-decoration: none; }
a:hover { color: rgb(51, 102, 204); cursor: pointer; }
a:active, .a-n { color: rgb(51, 102, 204); cursor: pointer; text-decoration: none; }
a:hover, .a-n:hover { text-decoration: underline; }
.g-rba-Dh-kQa { margin: 0px; padding: 0px; background-color: transparent; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
}
.Zb { border-radius: 3px 3px 3px 3px; }
.a-n, .g-M-n { color: rgb(66, 127, 237); cursor: pointer; }
.a-n:hover, .g-M-n:hover { text-decoration: underline; }
img { border: 0px none; }
a { color: rgb(66, 127, 237); cursor: pointer; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
img.tGXcCc { display: inline-block; }
.i9b { background: none repeat scroll 0% 0% transparent ! important; position: static ! important; display: table-cell; }
.dD5pVb { background-image: url('gprofile_button-16.png'); background-repeat: no-repeat; padding-left: 20px; font-size: 14px; font-weight: bold; line-height: 16px; max-height: 16px; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
.TMqXcd a.BqeNbc:link, .TMqXcd a.BqeNbc:visited { color: rgb(64, 64, 64); }
.j9b { display: table-cell; text-align: right; }
.YZFCnf { font-weight: bold; }
.TMqXcd .YZFCnf { color: rgb(51, 51, 51); }
body { background: none repeat scroll 0% 0% transparent; font-family: Roboto,arial,sans-serif; font-size: 13px; margin: 0px; padding: 0px; }
.TMqXcd .g9b { color: rgb(119, 119, 119); }
