html { overflow: hidden; }
#postCompatContainer { position: absolute; left: -10000px; width: 1000px; }
#notSupported, .legacy-mode, .old-browser { display: none; }
.publisher-anchor-color a { color: rgb(0, 0, 0) ! important; }
a.publisher-anchor-color { color: rgb(0, 0, 0) ! important; }
.publisher-anchor-hover a:hover { color: rgb(0, 0, 0) ! important; }
.active .publisher-nav-color:after { background: none repeat scroll 0% 0% rgb(0, 0, 0) ! important; }
/* ::::: http://mediacdn.disqus.com/1369701039/build/next/lounge/theme.css ::::: */

html, body { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
ol, ul { list-style: none outside none; }
html { overflow-y: scroll; font-size: 100%; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
img { border: 0px none; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
.clearfix {  }
.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }
.dropdown { position: relative; }
.dropdown-toggle {  }
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }
.caret { display: inline-block; width: 0px; height: 0px; text-indent: -99999px; vertical-align: top; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgb(0, 0, 0); opacity: 0.3; content: "↓"; }
.dropdown .caret { margin-top: 8px; margin-left: 2px; }
.dropdown:hover .caret, .open.dropdown .caret { opacity: 1; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; float: left; display: none; min-width: 160px; max-width: 220px; padding: 4px 0px; margin: 0px; list-style: none outside none; background-color: rgb(255, 255, 255); border-color: rgba(0, 0, 0, 0.2); border-style: solid; border-width: 1px; border-radius: 0px 0px 5px 5px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.dropdown-menu a { display: block; padding: 3px 15px; clear: both; font-weight: 500; line-height: 18px; color: rgb(222, 226, 231); white-space: nowrap; }
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(46, 159, 255); }
.alert { background: none repeat scroll 0% 0% rgb(163, 174, 188); padding: 10px 35px 10px 14px; margin-bottom: 18px; border-radius: 4px 4px 4px 4px; color: white; font-weight: 700; font-size: 13px; }
.alert a, .alert a:active, .alert a:visited { color: rgb(255, 255, 255); font-weight: 700; text-decoration: underline; }
.alert a:hover, .alert a:active:hover, .alert a:visited:hover { color: rgb(255, 255, 255); }
.alert.error { background: none repeat scroll 0% 0% rgb(255, 46, 70); }
.alert.realtime { background: none repeat scroll 0% 0% rgb(46, 159, 255); }
button.alert { width: 100%; display: block; text-align: center; }
.close { color: rgb(255, 255, 255) ! important; text-decoration: none ! important; float: right; font-weight: bold; display: block; font-size: 20px; opacity: 0.8; padding: 0px ! important; background: none repeat scroll 0% 0% transparent ! important; }
.close:hover { opacity: 1; cursor: pointer; }
.alert .close { position: relative; top: -4px; right: -21px; line-height: 18px; }
@font-face {
	font-family: "embed-icons";
	font-style: normal;
	font-weight: normal;
	src: url('embed-icons.eot') format("embedded-opentype"), url('embed-icons.svg') format("svg"), url('embed-icons.woff') format("woff"), url('embed-icons.ttf') format("truetype");
}
.icon-forward:before, .icon-star:before, .icon-comment:before, .icon-play:before, .icon-pause:before, .icon-arrow:before, .icon-plus:before, .icon-minus:before, .icon-arrow-2:before, .icon-feed:before, .icon-checkmark:before, .icon-mail:before, .icon-proceed:before, .icon-pencil:before, .icon-search:before, .icon-export:before, .icon-pin:before, .icon-reply:before, .icon-flag:before, .icon-cog:before { font-family: 'embed-icons'; font-style: normal; font-weight: normal; line-height: 1; }
.icon-forward:before { content: ">"; }
.icon-star:before { content: "★"; }
.icon-arrow:before { content: "▽"; }
.icon-arrow-2:before { content: "△"; }
.icon-feed:before { content: "r"; }
.icon-checkmark:before { content: "✔"; }
.icon-mail:before { content: "m"; }
.icon-proceed:before { content: "→"; }
.icon-export:before { content: "⤤"; }
.icon-cog:before { content: "#"; }
* { -moz-box-sizing: border-box; }
html { overflow: hidden; }
button {  }
button::-moz-focus-inner { border: 0px none; }
a:focus { outline: 0px none; }
body { color: rgb(66, 71, 74); font-family: "Helvetica Neue",arial,sans-serif; font-size: 15px; }
strong { font-weight: 700; }
#layout { overflow: hidden; }
#layout > section { min-height: 125px; }
.primary { float: left; width: 70%; padding-right: 30px; }
.secondary { float: right; width: 30%; }
#no-posts { opacity: 0.6; line-height: 107px; text-align: center; }
.pull-right { float: right ! important; }
a { text-decoration: none; color: rgb(40, 140, 228); transition: color 0.1s linear 0s; }
a:hover { color: rgb(25, 119, 202); }
p { margin: 0px 0px 1.5em; }
h3 { font-weight: 600; font-size: 16px; margin: 0px 0px 1.5em; }
h4 { font-weight: 600; font-size: 18px; line-height: 1.2; }
h6 { font-weight: 600; font-size: 11px; color: rgb(142, 148, 156); text-transform: uppercase; margin: 0px 0px 10px; line-height: 1; }
#global-nav { margin: 0px 0px 18px; }
#global-nav:before, #global-nav:after { display: table; content: ""; line-height: 0; }
#global-nav:after { clear: both; }
#global-nav li, #global-nav h4 { float: left; }
#global-nav .bullet { float: left; margin: 4px 8px; padding: 0px; color: rgb(204, 204, 204); line-height: 1.3; }
#global-nav li a { color: rgba(0, 0, 0, 0.3); }
#global-nav li a:hover { color: rgb(40, 140, 228); }
#global-nav li.active a { color: rgb(51, 51, 51); cursor: default; }
#reactions { padding-top: 10px; }
#post-count, #reaction-count { margin: 0px 0px 18px; }
#reaction-count { padding-top: 18px; }
.btn { background: none repeat scroll 0% 0% rgba(29, 47, 58, 0.6); display: inline-block; padding: 10px 16px; color: rgb(255, 255, 255); line-height: 1.1; border-radius: 3px 3px 3px 3px; font-weight: 500; transition: background 0.2s ease 0s; }
.btn:hover { background: none repeat scroll 0% 0% rgba(29, 47, 58, 0.7); color: rgb(255, 255, 255); }
.btn:active, .btn.active { transition: none 0s ease 0s ; background: none repeat scroll 0% 0% rgb(46, 159, 255); }
.btn.small { font-size: 12px; padding: 8px 10px; background-position: 0px -10px; }
.btn.small:hover { background-position: 0px -40px; }
.load-more { margin: 1.5em 0px; }
.load-more .btn { font-size: 13px; font-weight: 500; display: block; text-align: center; padding: 11px 14px; }
.loading { background: url('loader.gif') no-repeat scroll center center transparent; min-height: 100px; }
.avatar { position: absolute; top: 13px; left: 0px; transition: left 0.2s linear 0s; }
.avatar .user { display: block; position: relative; z-index: 100; }
.avatar .user img { border-radius: 3px 3px 3px 3px; display: block; height: 48px; width: 48px; }
.input-wrapper input { transition: all 0.2s linear 0s; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95); box-shadow: 0px 0px 0px 2px rgba(16, 48, 68, 0.2) inset; padding: 7px 10px; margin: 0px; border-radius: 4px 4px 4px 4px; width: 100%; font-size: 13px; height: 32px; border: 0px none; }
.input-wrapper input:focus { box-shadow: 0px 0px 0px 2px rgba(16, 48, 68, 0.3) inset; }
.input-wrapper input:focus { outline: 0px none; border-color: rgb(169, 179, 192); }
.input-wrapper input :-moz-placeholder { color: rgb(170, 178, 184); line-height: 1; }
.hidden { display: none; }
img[data-src] { visibility: hidden; }
.textarea-wrapper { position: relative; margin: 0px 0px 0px 60px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95); box-shadow: 0px 0px 0px 2px rgba(16, 48, 68, 0.2) inset; border-radius: 4px 4px 4px 4px; padding: 2px; }
.textarea-wrapper:focus { box-shadow: 0px 0px 0px 2px rgba(16, 48, 68, 0.3) inset; }
.textarea-wrapper:before, .textarea-wrapper:after { display: table; content: ""; line-height: 0; }
.textarea-wrapper:after { clear: both; }
.textarea-wrapper .textarea { color: rgb(63, 69, 73); cursor: text; resize: none; border: 0px none; display: block; padding: 6px 10px 8px; margin: 0px; width: 100%; min-height: 44px; height: auto; line-height: 1.4; font-size: 14px; font-family: "Helvetica Neue",helvetica,arial,sans-serif; overflow-y: scroll; transition: all 0.15s ease-in-out 0s; }
.textarea-wrapper .textarea .placeholder { color: rgb(170, 178, 184); line-height: 30px; font-size: 18px; padding-left: 4px; }
.textarea-wrapper .textarea:focus { outline: 0px none; }
.postbox { position: relative; margin: 0px 0px 18px; }
.postbox .avatar { top: 0px; }
.postbox .media-drag-hover { position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: rgba(0, 0, 0, 0.4); text-align: center; font-weight: bold; z-index: 1000; color: rgb(255, 255, 255); }
.postbox .media-drag-hover .drag-text { border: 3px dashed rgb(255, 255, 255); padding: 12px; position: absolute; top: 50%; left: 0px; right: 0px; margin: -22px 30px 0px; text-align: center; border-radius: 6px 6px 6px 6px; height: 45px; }
.postbox .media-preview { background: none repeat scroll 0% 0% rgba(16, 48, 68, 0.03); border-top: 2px solid rgba(16, 48, 68, 0.08); border-bottom: 2px solid rgba(16, 48, 68, 0.08); padding: 10px 0px 8px; margin: 20px 0px 34px; }
.postbox .media-preview.empty, .postbox .media-preview .empty { display: none; }
.postbox .media-preview .media-expanded { max-height: 300px; margin: 8px 8px 0px; position: relative; text-align: center; }
.postbox .media-preview .media-expanded img { max-height: 300px; max-width: 100%; }
.postbox .post-actions { transition: opacity 0.2s linear 0s; visibility: hidden; opacity: 0; background: none repeat scroll 0% 0% rgb(246, 248, 249); border-radius: 0px 0px 2px 2px; position: absolute; bottom: 2px; left: 2px; right: 2px; height: 34px; }
.postbox .post-actions .wysiwyg { position: absolute; top: 2px; left: 2px; }
.postbox .post-actions .wysiwyg li { float: left; position: relative; }
.postbox .post-actions .wysiwyg li input.regular[type="file"] { visibility: hidden; }
.postbox .post-actions .wysiwyg li a { display: block; height: 30px; width: 34px; position: relative; }
.postbox .post-actions .wysiwyg li a span { transition: opacity 0.1s linear 0s; display: block; height: 14px; width: 14px; position: absolute; top: 9px; left: 10px; background: url('wysiwyg.png') repeat scroll 0% 0% transparent; text-indent: -9999em; opacity: 0.65; }
.postbox .post-actions .wysiwyg li a.attach span { background-position: 0px -14px; }
.postbox .post-actions .wysiwyg li:hover a span { opacity: 1; }
.postbox .post-actions .wysiwyg li:hover a.attach span { background-position: 0px 0px; }
.postbox .post-actions .wysiwyg li.active a span, .postbox .post-actions .wysiwyg li:active a span { opacity: 1; }
.postbox .post-actions .wysiwyg li.active a.attach span, .postbox .post-actions .wysiwyg li:active a.attach span { background-position: 0px 0px; }
.postbox section { padding: 14px 0px 0px; border-radius: 0px 0px 3px 3px; }
.postbox section .guest-form-title { display: inline-block; }
.postbox section .what-is-disqus { cursor: pointer; display: inline-block; position: relative; }
.postbox section .what-is-disqus:hover #rules { opacity: 1; visibility: visible ! important; }
.postbox section #rules { opacity: 0; visibility: hidden; transition: all 0.2s linear 0s; text-indent: 0px; z-index: 10000; position: absolute; width: 300px; left: 8px; top: 20px; margin-left: -155px; padding: 18px 14px 4px; }
.postbox section #rules h3 { color: rgb(111, 126, 139); padding: 0px 4px; margin: 0px 0px 14px; font-weight: 700; }
.postbox section #rules ul { list-style: disc outside none; padding: 0px 0px 0px 20px; margin: 0px 0px 14px; }
.postbox section #rules ul li { color: rgb(222, 226, 231); list-style: disc outside none; margin: 0px 0px 6px; line-height: 1.4; font-size: 13px; }
.postbox section #rules ul li span { color: rgb(127, 141, 153); }
.postbox section #rules .btn { font-size: 12px; padding: 10px; margin-bottom: -2px; display: block; text-align: center; }
.auth-section { display: none; position: relative; margin: 0px 0px 0px 60px; z-index: 200; }
.auth-section .proceed { position: absolute; right: 0px; top: 37px; font-size: 12px; }
.auth-section .proceed .btn { height: 32px; padding: 9px 0px; width: 60px; text-align: center; }
.auth-section .connect { position: absolute; }
.auth-section .connect .services { margin: 0px 0px 18px; }
.auth-section .connect .services:before, .auth-section .connect .services:after { display: table; content: ""; line-height: 0; }
.auth-section .connect .services:after { clear: both; }
.auth-section .connect .services li { float: left; margin: 0px 3px 0px 0px; }
.auth-section .connect .services a { font-size: 11px; display: block; width: 34px; height: 34px; text-indent: -9999em; opacity: 0.9; transition: opacity 0.2s ease 0s; }
.auth-section .connect .services a:hover { opacity: 1; }
.auth-section .connect .services li.auth-twitter a { background: url('social-icons.png') repeat scroll -76px 0px transparent; }
.auth-section .connect .services li.auth-facebook a { background: url('social-icons.png') repeat scroll -39px 0px transparent; }
.auth-section .connect .services li.auth-google a { background: url('social-icons.png') repeat scroll -113px 0px transparent; }
.auth-section .connect .services li.auth-disqus a { width: 36px; background: url('social-icons.png') repeat scroll 0px 0px transparent; }
.auth-section .guest { margin: 0px 70px 0px 156px; padding: 0px 10px; min-height: 32px; position: relative; }
.auth-section .guest p { margin: 0px 0px 12px; }
.auth-section .guest .guest-details { display: none; }
.dropdown-menu { transition: opacity 0.2s ease 0s; font-size: 13px; border: 2px solid rgb(174, 178, 181); border-radius: 4px 4px 4px 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: none; min-width: 130px; z-index: 1001; }
.dropdown-menu.pull-right { right: 0px; left: auto; }
.dropdown-menu .share ul, .dropdown-menu .share ul > li { display: inline; }
.dropdown-menu a { transition: none 0s ease 0s ; color: rgb(132, 138, 146); padding: 4px 15px; }
.badge { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgba(34, 59, 74, 0.3); padding: 1px 3px; font-size: 10px; line-height: 1.1; font-weight: 600; border-radius: 3px 3px 3px 3px; display: inline-block; position: relative; top: -1px; left: 1px; }
#realtime-toggle { float: right; }
.thread-likes { padding-left: 27px; margin-left: 10px; }
.thread-likes a { display: block; position: relative; height: 23px; padding: 5px 8px 0px; z-index: 100; background: none repeat scroll 0% 0% rgba(34, 59, 74, 0.2); font-weight: bold; font-size: 13px; border-radius: 3px 3px 3px 3px; transition: all 0.2s ease-in-out 0s; }
.thread-likes a .icon-star { display: block; position: absolute; left: -27px; top: -7px; font-size: 18px; color: rgb(255, 191, 0); margin: 6px 4px 0px 0px; padding: 3px 8px 2px 1px; transition: all 0.2s ease-in-out 0s; }
.thread-likes a .counter { color: rgb(94, 94, 94); overflow: hidden; padding: 0px; transition: all 0.2s ease-in-out 0s; }
.thread-likes a .check-mark { position: absolute; right: -20px; top: 7px; opacity: 0; transition: all 0.2s ease-in-out 0s; }
.thread-likes a .notch { display: block; width: 0px; height: 0px; position: absolute; left: -8px; top: 8px; border-width: 4px; border-style: solid; border-color: transparent rgba(34, 59, 74, 0.2) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; transition: all 0.2s ease-in-out 0s; }
.thread-likes a:hover { background: none repeat scroll 0% 0% rgba(34, 59, 74, 0.3); }
.thread-likes a:hover .icon-star { color: rgb(255, 198, 0); text-shadow: 0px 0px 6px rgba(255, 216, 0, 0.75); }
.thread-likes a:hover .counter { color: rgb(51, 51, 51); }
.thread-likes a:hover .notch { border-right: 4px solid rgba(34, 59, 74, 0.3); }
.thread-likes a:active { padding: 7px 8px 0px; }
.thread-likes a:active .icon-star { padding: 5px 8px 0px 1px; }
.nav { border-bottom: 2px solid rgba(0, 49, 79, 0.08); margin: 0px 0px 18px; padding: 0px; position: relative; }
.nav .dropdown-toggle { padding-right: 24px; position: relative; }
.nav .dropdown-toggle .caret { display: block; position: absolute; right: 10px; top: 15px; }
.nav .notification-count { background: none repeat scroll 0% 0% rgb(239, 50, 66); padding: 0px 3px; margin-right: -2px; border-radius: 4px 4px 4px 4px; color: rgb(255, 255, 255); line-height: 19px ! important; min-width: 19px; display: block; position: absolute; left: 100%; top: 8px; height: 19px; text-align: center; }
.nav .notification-count:before { content: ""; display: block; width: 0px; height: 0px; border-width: 4px; border-style: solid; border-color: transparent rgb(239, 50, 66) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; right: 100%; top: 6px; z-index: 100; }
.nav .dropdown-menu { top: 32px; border-radius: 3px 3px 3px 3px; }
.nav .dropdown-menu li.selected a { position: relative; }
.nav .dropdown-menu li.selected a:after { content: ""; position: absolute; right: 10px; top: 8px; display: block; width: 10px; height: 8px; background: url('checkmark.png') repeat scroll 0% 0% transparent; }
.nav .dropdown-menu li.selected a:hover:after { background: url('checkmark.png') repeat scroll 0px -8px transparent; }
.nav .dropdown-toggle { background: none repeat scroll 0% 0% transparent ! important; color: rgb(167, 173, 177) ! important; }
.nav .dropdown-toggle:hover { color: rgb(78, 84, 88) ! important; }
.nav > ul { clear: both; }
.nav > ul:before, .nav > ul:after { display: table; content: ""; line-height: 0; }
.nav > ul:after { clear: both; }
.nav > ul > li { float: left; }
.nav > ul > li > a { padding: 11px 10px; color: rgb(167, 173, 177); font-weight: 700; display: block; font-size: 13px; line-height: 1; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3); position: relative; max-width: 120px; }
.nav > ul > li > a:hover { color: rgb(54, 58, 61); }
.nav > ul > li > a .caret { display: none; margin: 0px; }
.nav > ul > li.active > a { color: rgb(54, 58, 61) ! important; }
.nav > ul > li.active > a:after { content: " "; display: block; right: 0px; height: 2px; background: none repeat scroll 0% 0% rgb(46, 157, 255); position: absolute; bottom: -2px; left: 0px; }
.nav > ul > li.share-menu { float: right; margin-right: 10px; }
.nav > ul > li.share-menu .label { font-size: 13px ! important; position: relative; top: -5px; }
.nav > ul > li.share-menu .dropdown-toggle { position: relative; top: -1px; padding: 9px 5px 0px; }
.nav > ul > li.share-menu .dropdown-toggle span { font-size: 19px; }
.nav > ul > li.share-menu a { width: auto; }
.nav > ul > li.share-menu .dropdown-menu { padding: 0px; }
.nav > ul > li.share-menu .dropdown-menu li a { padding: 5px 10px; }
.nav > ul > li.share-menu .dropdown-menu .share { white-space: nowrap; color: rgb(132, 138, 146); font-size: 13px; padding: 5px 10px; position: relative; font-weight: 500; }
.nav > ul > li.share-menu .dropdown-menu .share li { border: 0px none; }
.nav > ul > li.share-menu .dropdown-menu .share a { padding: 0px; }
.nav > ul > li.share-menu .dropdown-menu .share a:hover { border-radius: 2px 2px 2px 2px; }
.nav > ul > li.user-menu { float: right; }
.nav > ul > li.user-menu .cog { font-size: 14px; }
.nav > ul > li.user-menu .dropdown-toggle { height: 33px; width: 32px; padding-bottom: 0px; padding-top: 9px; }
.nav > ul > li.user-menu .dropdown-toggle .caret { top: 14px; right: 0px; }
.nav > ul > li.user-menu .dropdown-menu { left: auto; right: 0px; }
.post-list { list-style-type: none; margin: 0px; }
.post-list > .post { padding-left: 60px; }
.post-list .post { position: relative; }
.post-list .post:before, .post-list .post:after { display: table; content: ""; line-height: 0; }
.post-list .post:after { clear: both; }
.post-list .post .post { padding-left: 48px; }
.post-list .post .post:before, .post-list .post .post:after { display: table; content: ""; line-height: 0; }
.post-list .post .post:after { clear: both; }
.post-list .post .post .avatar .user img { height: 36px; width: 36px; }
.post-list .post .post .indicator { height: 36px; position: absolute; }
.children .children .children > .post { padding-left: 0px ! important; }
.children .children .children > .post .post-body { margin-left: 48px; }
.post-content { margin-bottom: 24px; transition: all 0.2s ease-in-out 0s; }
.post-content:before, .post-content:after { display: table; content: ""; line-height: 0; }
.post-content:after { clear: both; }
.post-content .indicator { position: absolute; height: 48px; }
.post-content .avatar { top: 0px; }
.post-content footer { clear: both; }
.post-content .bullet { padding: 0px; font-size: 75%; color: rgb(204, 204, 204); line-height: 1.4; }
.post-content header { color: rgb(119, 119, 119); line-height: 17px; font-size: 13px; position: relative; top: -1px; }
.post-content header .bullet { padding: 0px 4px; }
.post-content header a, .post-content header .name { font-weight: 600; }
.post-content header .post-menu { transition: all 0.2s linear 0s; opacity: 0; visibility: hidden; position: relative; top: -2px; float: right; }
.post-content header .post-menu:before, .post-content header .post-menu:after { display: table; content: ""; line-height: 0; }
.post-content header .post-menu:after { clear: both; }
.post-content header .post-menu > li { float: left; margin: 0px 0px 0px 8px; }
.post-content header .post-menu > li a { color: rgba(0, 0, 0, 0.5) ! important; }
.post-content header .post-menu .collapse a, .post-content header .post-menu .expand a { font-size: 20px; opacity: 0.6; position: relative; top: -7px; padding: 10px 0px 10px 10px; }
.post-content header .post-menu .collapse a:hover, .post-content header .post-menu .expand a:hover { opacity: 1; }
.post-content header .dropdown .dropdown-toggle { border-left: 2px solid rgba(75, 83, 94, 0.1); padding-left: 5px; }
.post-content header .dropdown .dropdown-toggle .caret { margin-top: 4px; }
.post-content header .dropdown .dropdown-menu { transition: all 0.1s linear 0s; position: absolute; left: auto; right: 0px; top: 15px; min-width: 100px; padding: 0px; }
.post-content header .dropdown .dropdown-menu li a { display: block; padding: 6px 8px; white-space: nowrap; font-weight: 600; font-size: 11px; }
.post-content header .time-ago, .post-content header .parent-link { font-weight: 500; font-size: 95%; color: rgba(30, 55, 70, 0.4); }
.post-content header .time-ago i, .post-content header .parent-link i { font-size: 80%; padding: 0px 1px; }
.post-content .post-body { position: relative; }
.post-content .post-body .more-button { position: absolute; color: rgb(108, 108, 108); bottom: 21px; left: 50%; margin-left: -27px; z-index: 901; font-size: 12px; font-weight: bold; }
.post-content .post-message-container { position: relative; overflow: hidden; width: 100%; }
.post-content .post-message-container.post-message-collapse { margin-bottom: 22px; }
.post-content .post-message-container.post-message-collapse .post-message > p:first-child { margin-top: -4px; }
.post-content .post-message {  }
.post-content .post-message:before, .post-content .post-message:after { display: table; content: ""; line-height: 0; }
.post-content .post-message:after { clear: both; }
.post-content .post-message p { line-height: 21px; margin: 0px 0px 15px; }
.post-content .post-message p:last-child { margin: 0px; }
.post-content .message-shadow { z-index: 900; height: 5px; position: absolute; bottom: 38px; left: 0px; right: 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.08) inset; }
.post-content footer { color: rgb(108, 108, 108); margin: 4px 0px 0px; }
.post-content footer .bullet { line-height: 1.5; opacity: 0; }
.post-content footer menu { margin: 0px; padding: 0px; }
.post-content footer menu:before, .post-content footer menu:after { display: table; content: ""; line-height: 0; }
.post-content footer menu:after { clear: both; }
.post-content footer menu li { float: left; list-style-type: none; margin: 0px 7px 0px 0px; padding: 0px; font-size: 13px; line-height: 15px; }
.post-content footer a { color: rgba(34, 59, 74, 0.5); font-weight: 500; }
.post-content footer a:hover { color: rgba(34, 59, 74, 0.7); }
.post-content footer .voting { transition: opacity 0.3s ease 0s; border-radius: 3px 3px 3px 3px; position: relative; }
.post-content footer .voting .vote-up, .post-content footer .voting .vote-down { position: relative; display: inline-block; padding: 0px 3px; line-height: 0.85; height: 11px; color: inherit; }
.post-content footer .voting .vote-up:after, .post-content footer .voting .vote-down:after { content: ""; display: block; position: absolute; top: -10px; left: 0px; right: -6px; bottom: -10px; }
.post-content footer .voting .control { font-size: 16px; font-weight: 700; transition: opacity 0.2s linear 0s; opacity: 0.7; }
.post-content footer .voting .count { position: relative; top: -3px; font-size: 13px; }
.post-content footer .voting .vote-up, .post-content footer .voting .vote-down { min-height: 14px; }
.post-content footer .voting .vote-up:hover .control, .post-content footer .voting .vote-down:hover .control { opacity: 1; }
.post-content footer .voting .vote-up { padding-left: 0px; }
.post-content footer .voting .vote-up:after { right: -3px; left: -5px; }
.post-content footer .voting .vote-up.count-0 { margin-left: -3px; }
.post-content footer .voting .vote-up.count-0 .count { display: none; }
.post-content footer .voting .vote-down { padding-right: 0px; padding-left: 6px; border-left: 2px solid rgba(75, 83, 94, 0.1); }
.post-content footer .voting .vote-down.count-0 .count { display: none; }
.post-content footer .voting .vote-down:hover .tooltip, .post-content footer .voting .vote-down:active .tooltip { opacity: 1; visibility: visible ! important; }
.post-content footer .voting .vote-down .tooltip { transition: opacity 0.2s ease 0s; opacity: 0; visibility: hidden; position: absolute; z-index: 100; display: inline-block; width: 170px; border-radius: 3px 3px 3px 3px; line-height: 1.1; padding: 6px 12px; border: 0px none; font-weight: 600; box-shadow: 0px 0px 0px 2px rgba(18, 30, 38, 0.24), 0px 1px 6px rgba(18, 30, 38, 0.44); bottom: 20px; left: -3px; }
.post-content footer .share { position: relative; }
.post-content footer .share .toggle { position: relative; z-index: 100; cursor: pointer; }
.post-content footer .share ul { top: -10px; left: 0px; padding: 8px 4px 8px 40px; height: 30px; width: 300px; white-space: nowrap; position: absolute; opacity: 0; visibility: hidden; }
.post-content footer .share ul li { transition: all 0.4s ease-in-out 0s; opacity: 0; position: absolute; left: 0px; }
.post-content footer .share:hover ul { opacity: 1; visibility: visible ! important; }
.post-content footer .share:hover ul li { opacity: 1; }
.post-content footer .share:hover ul li.twitter { left: 48px; }
.post-content footer .share:hover ul li.facebook { left: 71px; }
.post-content footer .share:hover ul li.link { left: 94px; }
.post-content .realtime { float: right; margin: 0px; }
.post-content .realtime .realtime-replies { color: rgb(153, 153, 153); font-size: 85%; }
.post-content .realtime .btn { transition: right 0.2s ease-in-out 0s; display: inline; font-size: 10px; padding: 0px 0px 0px 14px; position: relative; box-shadow: none; background: none repeat scroll 0px center transparent; text-shadow: none; border: 0px none; right: -100%; }
.post-content .realtime .btn:hover { color: rgb(68, 68, 68); }
.post-content:hover header .post-menu { opacity: 1; visibility: visible ! important; }
.share .twitter a { background: url('share.png') repeat scroll 0px 0px transparent; }
.share .facebook a { background: url('share.png') repeat scroll -18px 0px transparent; }
.share .link a { background: url('share.png') repeat scroll -54px 0px transparent; }
.share > * a { display: inline-block; width: 18px ! important; height: 18px ! important; opacity: 0.6; text-indent: -9999em; overflow: hidden; padding: 0px; transition: opacity 0.2s linear 0s; }
.share > * a:hover { opacity: 0.8; }
.invisible { opacity: 0; visibility: hidden; }
.hidden { display: none; }
#community h3 { font-size: 11px; color: rgb(153, 153, 153); text-transform: uppercase; font-weight: 700; }
#community h3 strong { color: rgb(102, 102, 102); }
.updatable { transition: all 0.3s linear 0s; }
.tooltip { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: auto; transition: opacity 0.25s linear 0s; width: 290px; border-radius: 5px 5px 5px 5px; box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2); padding: 8px 8px 0px; color: rgb(127, 141, 153); }
.parent-link { position: relative; }
#footer { clear: both; border-top: 2px solid rgba(0, 49, 79, 0.08); padding: 24px 0px 10px; }
#footer ul {  }
#footer ul:before, #footer ul:after { display: table; content: ""; line-height: 0; }
#footer ul:after { clear: both; }
#footer li { float: left; margin: 0px 24px 0px 0px; position: relative; }
#footer a { color: rgba(34, 59, 74, 0.4); padding: 0px 0px 0px 25px; font-size: 12px; font-weight: 600; }
#footer i { position: absolute; left: 0px; }
#footer .logo { float: right; margin: 0px; }
#footer .logo a { display: block; float: right; text-indent: -9999em; background-image: url('powered-by.png'); background-position: right top; background-repeat: no-repeat; height: 16px; width: 86px; padding: 0px; }
#footer .rss a, #footer .email a { line-height: 1.1; transition: color 0.2s ease 0s; }
#footer .rss a:hover, #footer .email a:hover { color: rgba(34, 59, 74, 0.55); }
#footer .rss i { font-size: 14px; top: 0px; }
#footer .email a { padding: 0px 0px 0px 27px; }
#footer .email i { font-size: 18px; top: -2px; }
#footer .email .input-wrapper input { padding: 4px 8px; height: 24px; position: relative; top: -5px; font-size: 11px; }
#footer .email .icon-checkmark { opacity: 0; visibility: hidden; transition: all 0.15s ease-in-out 0s; color: rgb(75, 173, 0); font-size: 11px; position: absolute; right: -17px; top: -5px; left: auto; }
#footer .email > .form { display: none; }
.help-icon { border-radius: 9px 9px 9px 9px; border: 2px solid rgb(153, 153, 153); display: inline-block; padding: 1px 4px; margin-top: -2px; font-size: 12px; height: 18px; width: 19px; }
.help-icon:before { content: "?"; font-weight: bold; color: rgb(119, 119, 119); }
/* ::::: http://mediacdn.disqus.com/1369701039/build/next-discovery/max.css ::::: */

.discovery-main { color: rgb(68, 68, 68); font-family: "Helvetica Neue",arial,sans-serif; font-size: 14px; clear: both; margin-top: 20px; display: inline-block; width: 100%; line-height: 1em; }
header.discovery-col-header { padding-bottom: 0.9em; font-size: 11px; }
header.discovery-col-header h2 { text-transform: uppercase; font-weight: bold; color: rgba(34, 59, 74, 0.5); line-height: 1.3em; }
header.discovery-col-header h2 strong { color: rgba(34, 59, 74, 0.7); }
header.discovery-col-header .discovery-options { float: right; }
header.discovery-col-header .discovery-options a { font-weight: 500; }
.col-promoted { display: none; }
.col-promoted .discovery-options { display: none; }
.doublesection .col-organic { margin-right: 4%; }
.doublesection .col-promoted { display: block; }
.doublesection .col-promoted .discovery-options { display: block; }
.doublesection .col-organic, .doublesection .col-promoted { float: left; width: 48%; }
.doublesection.discovery-main header.discovery-col-header { padding-bottom: 0.6em; }
.doublesection ul.discovery-posts li.discovery-post { width: 100%; margin-right: 0px; margin-bottom: 1.1%; }
.doublesection ul.discovery-posts li.discovery-post:nth-child(2n+1) { margin-right: 0px; }
ul.discovery-posts { display: inline-block; width: 100%; }
ul.discovery-posts li.discovery-post { float: left; width: 48%; margin-bottom: 10px; }
ul.discovery-posts li.discovery-post:nth-child(2n+1) { margin-right: 4%; }
.discovery-post h3 { margin-bottom: 4px; display: block; font-size: 16px; font-weight: 600; line-height: 1.25em; max-height: 2.5em; overflow: hidden; }
.discovery-post a.title { font-size: 16px; font-weight: 600; display: inline; word-wrap: break-word; line-height: 1.25em; padding-right: 5px; }
.discovery-post .inline-meta { font-size: 12px; color: rgba(30, 55, 70, 0.4); font-weight: 500; white-space: nowrap; }
#discovery-top .discovery-main { margin-top: 0px; margin-bottom: 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
@media screen and (max-width: 440px) {
	.discovery-main .discovery-options { display: none; }
	.discovery-main header.discovery-col-header { padding-bottom: 0.4em; }
	.discovery-main ul.discovery-posts li.discovery-post { float: left; width: 100%; margin-bottom: 10px; }
	.discovery-main ul.discovery-posts li.discovery-post:nth-child(2n+1) { margin-right: 0px; }
	.doublesection .col-organic, .doublesection .col-promoted { width: 100%; }
	.doublesection .col-organic { margin-right: 0px; margin-bottom: 2%; }
	.doublesection .col-promoted .discovery-options { display: none; }
	.doublesection.discovery-main header.discovery-col-header { padding-bottom: 0.5%; }
	.doublesection.discovery-main ul.discovery-posts li.discovery-post { margin-bottom: 0.5%; }
}
