body {
    position:absolute;
    height:100%;
    width:100%;
    background-color:#DDD;
}

textarea {
    resize:vertical;
}

h3 {
    margin-top:0px;
}

.container-fluid {
    max-width:768px;
}

/* Content */

.content {
    min-height:100%;
    background-color:#f5f5f5;
    margin-top:-50px;
    padding:20px;
    padding-top:70px;
    box-shadow:0 1px 2px rgba(0,0,0,0.5);
}

/* Navbar */

.navbar {
    background-color:#B71C1C;
    margin-bottom:0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border:0;
}

.navbar-inverse.visible-xs {
    cursor:pointer;
    overflow:hidden;
}

.navbar-inverse .navbar-nav>li>a {
    color:white;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover{
    border-color:rgba(0,0,0,0.2);
    background-color:rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border:0;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color:rgba(0,0,0,0.2);
}

.navbar-collapse{
    box-shadow:0 0 0 0;
    border:0;
}

/* Assassins Logo */

.navbar-inverse .navbar-brand {
    width:111px;
    position:relative;
    color:white;
}

.navbar-inverse.hidden-xs .navbar-brand {
    left: -100px;
    width: 311px;
    margin-right: -200px;
    padding-left: 115px;
    overflow:hidden;
}

.navbar-inverse .navbar-brand span {
    position:absolute;
}

.navbar-inverse.hidden-xs .navbar-brand .splatter {
    left:0px;
}

.splatter {
    height:220px;
    position:absolute;
    top:-90px;
    left:-100px;
}

/* Panel */

.panel {
    box-shadow:0 1px 2px rgba(0,0,0,0.5)
}

.square {
    border-radius:0px;
}

.panel>a.panel-body {
    display:block;
}

.panel>a.panel-body>.pull-right {
    text-decoration:none;
    color:black;
}

.panel-user {
    background-color:#F5F5F5;
}

/* Btn */

.btn {
    box-shadow:0 1px 2px rgba(0,0,0,0.5);
    border:0px;
}

/* Misc */
.dead {
    text-decoration:line-through;
}

.host::after {
    content:" (host)"
}