/* ::::: file:///home/bani/zdotfiles/Tools/3/FF/w/ww/ww/data/20130412004954/index.css ::::: */

html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
li { list-style: none outside none; }
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; }
table { font-size: inherit; }
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; }
table { font-size: inherit; }
html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
li { list-style: none outside none; }
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; }
table { font-size: inherit; }
html { background: url('grd_body.jpg') no-repeat scroll 50% 0% rgb(255, 255, 255); }
body { width: 100%; min-width: 650px; margin: 0px auto; font-size: 12px; color: rgb(62, 62, 62); line-height: 1.23; }
.body_wrapper { background: none repeat scroll 0% 0% rgb(245, 245, 245); margin: 0px auto; padding: 0px 10px 10px; border: 1px solid rgb(220, 220, 220); }
body, legend { font-family: Tahoma,Arial,Tahoma,Calibri,Verdana,Geneva,sans-serif; }
.formcontrols > :first-child, .formcontrols .blocksubhead + .blockrow, .formcontrols .section .blockrow:first-child { border-top: medium none; }
.postbit, .postbitlegacy, .eventbit { margin-bottom: 10px; display: block; width: 100%; clear: both; position: relative; float: right; color: rgb(62, 62, 62); border: 1px solid rgb(220, 220, 220); }
.postrow { overflow: auto; }
.postcontent { word-wrap: break-word; }
.postbitlegacy .postdetails, .eventbit .eventdetails { float: right; width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.postbitlegacy .postdetails { background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.postbitlegacy .postbody, .eventbit .eventdetails .eventbody { margin-right: 200px; border-right: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(250, 250, 250); padding-bottom: 1em; }
.postbitlegacy .postbody { margin-right: 242px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.postbitlegacy .postrow, .eventbit .eventrow, .postbitdeleted .postrow, .postbitignored .postrow { padding: 5px 10px 10px; font: 18px Simplified Arabic,Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif; color: rgb(51, 51, 51); }
.postbitlegacy .postrow.has_after_content { padding-bottom: 4em; }
.postlist, #postlist { clear: both; margin-top: 0px; margin-bottom: 10px; position: relative; }
.posts, #message_list { margin: 10px 0px; }
.postlist {  }
.postrow { min-height: 400px; overflow-y: hidden; overflow-x: auto; }
