{{extend 'qastack_layout.html'}}

<h2 class="fancy">{{=XML(T('Edit Question'))}}</h2>

{{if view_info['errors']:}}
    <p class="err">{{=XML(T('There was one or more messages generated while processing your request, please review the following'))}}</p>
    <ul>
        {{for error in view_info['errors']:}}
            <li class="err">{{=XML(T(error))}}</li>
        {{pass}}
    </ul>
{{pass}}

{{if can_edit:}}
    <form id="edit_form" method="post" action="">
        <fieldset id="ask_form_fields">
            <input type="hidden" id="form_submitted" name="form_submitted" value="1" />
            <input type="hidden" id="qid" name="qid" value="{{=question.id}}" />
            <table cellspacing="1" cellpadding="1" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="width:20%;">{{=XML(T('Question Title'))}}</td>
                        <td style="width:80%;">
                            <input type="text" id="question_title"
                            name="question_title"
                            value="{{=request.vars.get('question_title', question.title)}}"
                                   style="width:80%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>{{=XML(T('Question'))}}:</td>
                        <td>
                            <textarea id="question" name="question"
                            cols="0" rows="0"
                            style="width:80%;height:250px;">{{=request.vars.get('question', question.description)}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>{{=XML(T('Tags'))}}:</td>
                        <td>
                            <input type="text" id="tags" name="tags" value="{{=request.vars.get('tags', tags)}}"
                                   style="width:60%;" />
                            <a href="javascript:void(0);" title="" onclick="return false;"
                            class="help"><img src="{{=URL(r=request, c='static/images', f='questionmark.png')}}" alt=""
                            style="vertical-align:middle;height:20px;width:20px;border:0;" /><div>Place as many tags as you think
                            they are relevant to this question, please separate each tag by a comma.</div></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        
        <div class="paragraph-all">
            <input type="submit" id="update_question" name="update_question" value="{{=XML(T('Update Question'))}}"
                   onclick="return confirm('Please confirm you wish to edit this question.');" />
            <input type="submit" id="cancel_edit" name="cancel_edit" value="{{=XML(T('Cancel'))}}" />
            {{if auth_user.is_admin():}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" id="hide_q" name="hide_q" value="Remove This Question"
                onclick="return confirm('WARNING: This question, comments, answers and answers\' comments\nwill be hidden from public view.\n\nPlease Confirm');" />
            {{pass}}
        </div>
    
        <div class="paragraph">
            Basic html is allowed, use of <span class="explain">&lt;b&gt; &lt;i&gt;</span> ok to use, in addition, use the following <i>pseudo-code</i>
            to highlight and nicely format your code if you post any code snippet <i>(Click to Insert)</i>:
            <a href="javascript:void(0);" onclick="add_helper('[code-python][/code-python]');return false;" title="">[code-python]</a>,
            <a href="javascript:void(0);" onclick="add_helper('[code-c][/code-c]');return false;" title="">[code-c]</a>,
            <a href="javascript:void(0);" onclick="add_helper('[code-c++][/code-c++]');return false;" title="">[code-c++]</a>,
            <a href="javascript:void(0);" onclick="add_helper('[code-c#][/code-c#]');return false;" title="">[code-c#]</a>,
            <a href="javascript:void(0);" onclick="add_helper('[code-php][/code-php]');return false;" title="">[code-php]</a>,
            <a href="javascript:void(0);" onclick="add_helper('[code-java][/code-java]');return false;" title="">[code-java]</a>,
            or
            <a href="javascript:void(0);" onclick="add_helper('[code][/code]');return false;" title="">[code]</a>
            (for a language not included in the previous code definitions).<br />Close your code snippet
            with a matching <span class="explain">[/code-<i>language</i>]</span> if applicable or manually added.
        </div>
    
    </form>
    
    <script type="text/javascript">
    <!--
        function add_helper(s_value) {
            var oquestion = document.getElementById('question');
    
            // IE support
            if (document.selection) {
                oquestion.focus();
                sel = document.selection.createRange();
                sel.text = s_value;
            }
            // MOZILLA/NETSCAPE support
            else if (oquestion.selectionStart || oquestion.selectionStart == 0) {
                var start_pos = oquestion.selectionStart;
                var end_pos = oquestion.selectionEnd;
                oquestion.value = oquestion.value.substring(0, start_pos) + s_value + oquestion.value.substring(end_pos, oquestion.value.length);
            } else {
                oquestion.value += s_value;
            }    
        }
        // Put the focus on the comment textarea
        document.getElementById('question_title').focus();
    //-->
    </script>
{{else:}}
    <p class="error">Unable to edit question, this may be due to the following reasons:</p>
    <ul>
        <li class="error">You are not authorized to edit this question.</li>
        <li class="error">This question has been closed, disabled by the System Administrator.</li>
        <li class="error">This question has an answer that has been marked as &quot;accepted&quot;</li>
    </ul>
    <p><a href="javascript:void(0);" title="" onclick="history.go(-1);">Go Back</a></p>
{{pass}}