{{right_sidebar_enabled = True}}
{{extend 'layout.html'}} {{import os}}

{{=get_content('whyweb2py')}}
{{
html = """ user	a template here	of user	the line below """
html=response.render('%s/%s.html' % (request.controller,request.function))

import re
from gluon.contrib.markmin.markmin2latex import markmin2latex
def markmin_serializer(text,tag=None,attr={}):
    if tag==None: return re.sub('\s+',' ',text)
    if tag=='br': return '\n\n'
    if tag=='h1': return '# '+text+'\n\n'
    if tag=='h2': return '#'*2+' '+text+'\n\n'
    if tag=='h3': return '#'*3+' '+text+'\n\n'
    if tag=='h4': return '#'*4+' '+text+'\n\n'
    if tag=='p': return text+'\n\n'
    if tag=='li': return '\n- '+text.replace('\n',' ')
    if tag=='tr': return text[3:].replace('\n',' ')+'\n'
    if tag in ['table','blockquote']: return '\n-----\n'+text+'\n------\n'
    if tag in ['td','th']: return ' | '+text
    if tag in ['b','strong','label']: return '**%s**' % text
    if tag in ['em','i']: return "''%s''" % text
    if tag in ['tt','code']: return '``%s``' % text
    if tag=='a': return '[[%s %s]]' % (text,attr.get('_href',''))
    return text
markmin=TAG(html).element('body').flatten(markmin_serializer)
out=markmin2latex(markmin)
response.headers['Content-Type']='text'
response.write(out,escape=False)
}}

{{block right_sidebar}}
<center>
  <h3 class="feature-title">SITES POWERED BY WEB2PY</h3>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img1" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img2" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img3" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img4" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img5" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img6" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img7" width="200px"/></a>
  <a href="http://web2py.com/poweredby"><img class="frame" id="img8" width="200px"/></a>
  </div>
</center>
<script>
  function showimages() {
    var images = {{=images}};
    rotation = Math.floor(Math.random()*(images.length-8));
    for(var i=0; i<8; i++)
      jQuery('#img'+(i+1)).attr('src',images[i+rotation]);
  }
  jQuery(function(){showimages();});
</script>
{{end}}
