{{extend 'default/userlayout.html'}}

<h3>Change Password</h3>
{{if form.errors:}}
    Your submitted form contains the following errors:
    <ul>
        {{for fieldname in form.errors:}}
            <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
        {{pass}}
    </ul>
    {{form.errors.clear()}}
{{pass}}
{{=form.custom.begin}}
    <div class="form-group">
        <input type="password" class="form-control" name="old_password" placeholder="Old password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="new_password" placeholder="New password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="new_password2" placeholder="Verify new password">
    </div>
    <button type="submit" class="btn btn-default">Change password</button>
{{=form.custom.end}}
