/* ::::: http://wiki.debian.org/htdocs/debwiki/css/common.css ::::: */

/* ::::: http://wiki.debian.org/htdocs/debwiki/css/modernized-common.css ::::: */

html { background-color: white; color: black; font-family: sans-serif; font-size: 1em; }
body { margin: 0px; }
a { color: rgb(0, 68, 179); }
a:visited { color: rgb(255, 123, 179); }
a.nonexistent:visited, a.nonexistent, a.badinterwiki:visited, a.badinterwiki { color: gray; }
a.http:before { content: url('moin-www.png'); margin: 0px 0.2em; }
a.https:before { content: url('moin-www.png'); margin: 0px 0.2em; }
a.interwiki:before { content: url('moin-inter.png'); margin: 0px 0.2em; }
a, img, img.drawing { border: 0px none; }
pre { border: 1pt solid rgb(174, 189, 204); background-color: rgb(243, 245, 247); padding: 5pt; font-family: courier,monospace; white-space: pre-wrap; word-wrap: break-word; }
.info { float: right; font-size: 0.7em; color: gray; }
#pageinfo { margin-top: 2em; }
#pagebottom { clear: both; }
hr { height: 1pt; background-color: rgb(156, 156, 156); border: 0px none; }
/* ::::: http://wiki.debian.org/htdocs/debwiki/css/debwiki.css ::::: */

/* ::::: http://wiki.debian.org/htdocs/debwiki/css/debian.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1; color: black; background: none repeat scroll 0% 0% white; }
ol, ul { list-style: none outside none; }
html { background-color: transparent; }
:focus { outline: 0px none; }
body { margin: 0px; font: 100%/1.5 sans-serif; color: rgb(34, 34, 34); background-color: white; background-image: url('gradient.png'); background-position: 0px 0px; background-repeat: repeat-x; }
#content { margin: 0px 10px 0px 52px; }
#header { margin: 0px; padding: 0px 10px 0px 52px; }
#header a:link, #header a:visited, #second-nav a:link, #second-nav a:visited { text-decoration: none; }
#header a:hover, #second-nav a:hover { text-decoration: underline; }
#breadcrumbs { margin: 0px; font-size: 0.75em; text-transform: lowercase; line-height: 2; background-color: rgb(245, 246, 247); border-bottom: 1px solid rgb(210, 211, 215); min-height: 20px; }
#breadcrumbs:before { content: "/"; margin-left: 0.5em; margin-right: 0.5em; }
p.section { margin: 0px; padding: 0px 5px; font-family: monospace; line-height: 16px; color: white; text-transform: uppercase; letter-spacing: 0.08em; position: absolute; top: 0px; left: 52px; background-color: rgb(199, 0, 54); }
p.section a { color: white; text-decoration: none; }
p.section a:hover { color: white; text-decoration: underline; }
#navbar { background-color: transparent; list-style: none outside none; display: block; border-bottom: 1px solid rgb(199, 0, 54); text-indent: 0px; padding: 0px; margin-top: 0px; margin-bottom: 0px; }
#navbar ul { margin: 0px; padding: 0px; clear: both; overflow: hidden; min-height: 45px; }
#navbar li { list-style: none outside none; float: left; padding: 0px; margin: 0px; }
#navbar a:link, #navbar a:visited { padding: 1.75em 0.5em 0.25em; border-left: 1px solid transparent; border-right: 1px solid transparent; display: block; text-decoration: none; }
#navbar a:visited { color: rgb(84, 99, 140); }
#navbar a:hover, #navbar a:visited:hover { background-color: rgb(245, 246, 247); border-left: 1px solid rgb(210, 211, 215); border-right: 1px solid rgb(210, 211, 215); text-decoration: underline; }
#logo { position: absolute; top: 0px; left: 0px; padding: 0px; background-color: transparent; border-right: 1px solid transparent; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 50px; height: 5.07em; min-height: 65px; }
#logo a { display: block; position: relative; padding: 0px; height: 100%; min-height: 65px; }
#logo img { margin-top: 5px; position: absolute; bottom: 0.3em; overflow: auto; }
#logo:hover { border-right: 1px solid rgb(210, 211, 215); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(210, 211, 215) rgb(210, 211, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(245, 246, 247); }
a:link { color: rgb(0, 53, 199); text-decoration: underline; }
a:visited { color: rgb(84, 99, 140); }
a:link:hover { text-decoration: none; color: rgb(0, 32, 122); }
a:visited:hover { text-decoration: none; }
a:active { color: rgb(194, 195, 199); }
a img { border: 0px none; }
p { margin: 1.5em 0px; }
strong { font-weight: bold; }
em { font-style: italic; color: rgb(68, 68, 68); }
small { font-size: 0.75em; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; color: black; }
h1 { font-weight: normal; font-size: 1.8em; line-height: 0.83333; margin: 0.83333em 0px; }
h2 { font-size: 1.4em; font-weight: normal; line-height: 1.07143; margin: 1.07143em 0px; }
h3 { font-size: 1.125em; line-height: 1.333em; margin: 1.333em 0px 0px; }
h5 { font-style: italic; font-size: 0.75em; margin: 2em 0px; }
ol, ul { padding-left: 1.5em; margin: 1.5em 0px; }
ol > ol, ul > ul, li > ol, li > ul { margin: 0px; }
ul { list-style-type: disc; }
hr { border: medium none; background-color: rgb(187, 187, 187); height: 1px; margin: 1.4375em 0px 1.5em; }
pre { margin: 1.5em 0px; overflow: auto; font-family: monospace; white-space: pre; color: black; }
tt, code { font-family: monospace; white-space: pre; color: black; }
#footer { font-size: 0.75em; border-width: 1px 0px; border-style: solid none; border-color: rgb(223, 223, 224) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 1em; background-color: rgb(245, 246, 247); margin: 0px 10px 0px 52px; line-height: 1.5em; }
#footer p { margin: 1em 0px; }
#footer .info {  }
input:focus { background-color: rgb(255, 255, 203); }
body { font-size: 100%; }
#breadcrumbs { text-transform: none; }
#wikisection p.section { left: 0px; }
#wikisection { position: absolute; top: 0px; }
div#username { font-size: 0.75em; margin-left: 5em; color: rgb(210, 211, 215); }
#searchform { float: left; font-size: 0.75em; line-height: 2; }
ul#pagelocation { display: inline; padding: 0px 1em 0px 0px; }
#navibar, .editbar { list-style: none outside none; margin: 0px; padding: 0px; }
form select {  }
.editbar { padding: 0px; font-size: 0.75em; line-height: 2; position: absolute; right: 10px; }
#content { margin-top: 1.5em; }
.info { position: relative; margin: 0px 0px 0.5em; float: none; }
hr { background-color: rgb(210, 211, 215); height: 1px; }
pre, div.codearea { padding: 1em; margin: 2em 1.5em; background-color: rgb(245, 246, 247); border: 1px solid rgb(210, 211, 215); font-family: monospace; font-size: 100%; line-height: 2em; }
h1#locationline {  }
h1#locationline a { color: black; }
p#pageinfo { color: gray; font-size: 1em; margin: 1em 0px 0px; }
#footer { margin-top: 2em; margin-left: 52px; margin-right: 10px; clear: both; }
ul#credits { margin: 1em 0px 0px; padding: 0px; font-size: 1em; line-height: 2; }
ul#credits li { list-style: none outside none; display: inline; margin: 0px 1em 0px 0px; }
div#header ul li { display: inline; margin-right: 1em; }
ul#navibar li.wikilink { margin: 0px; }
ul#navibar li.current { display: none; }
li.wikilink { margin: 0px; padding: 0px; }
#searchform { position: absolute; right: 10px; top: 0px; }
div#content { margin: 0px 10px 0px 52px; }
div#header { margin: 0px; }
#navbar { background-color: transparent; list-style: none outside none; display: block; border-bottom: 1px solid rgb(199, 0, 54); text-indent: 0px; padding: 0px; margin-top: 0px; margin-bottom: 0px; }
#navbar ul { margin: 0px; padding: 0px; clear: both; overflow: hidden; min-height: 45px; }
#navbar li { list-style: none outside none; float: left; padding: 0px; margin: 0px; }
#navbar a:link, #navbar a:visited { padding: 1.75em 1em 0.25em; border-left: 1px solid transparent; border-right: 1px solid transparent; display: block; text-decoration: none; }
#navbar a:visited { color: rgb(84, 99, 140); }
#navbar a:hover, #navbar a:visited:hover { background-color: rgb(239, 239, 239); border-left: 1px solid rgb(210, 211, 215); border-right: 1px solid rgb(210, 211, 215); text-decoration: underline; }
form.actionsmenu { float: right; vertical-align: text-top; }
span.sep { margin-right: 0.25em; margin-left: 0.25em; }
/* ::::: http://wiki.debian.org/htdocs/debwiki/css/screen.css ::::: */

/* ::::: http://wiki.debian.org/htdocs/debian-wiki-1.0.css ::::: */

html {  }
#pageinfo {  }
