[Shortcuts]
Bookmark:Local Network=none
Bookmark:Trash bin=none
Bookmark:Virtual Filesystem=none
Bookmark:file:///home/ww/.spf13-vim-3=none
F10_Quit=F10
F2_Terminal=F2
F3_View=F3
F3_ViewDlg=Shift+F3
F4_Edit=F4
F5_Copy=F5
F5_Copy_Queue=Shift+F5
F6_Move=F6
F6_Move_Queue=Shift+F6
F7_Mkdir=F7
F8_Delete=F8
F9_Rename=F9
Popular_Urls=Ctrl+Z
all files=Shift+F10
backup_current=Meta+F5
bookmark current=Ctrl+Shift+D
bookmarks=Ctrl+D
calculate=none
cancel refresh=none
close duplicated tabs=none
close inactive tabs=none
close tab=Ctrl+W
cmdline popup=Ctrl+/
combine=Ctrl+B
compare=none
compare dirs=Alt+Shift+C
create checksum=none
custom files=Shift+F12
default_zoom=none
disk usage=Alt+Shift+S
duplicate tab=Ctrl+Alt+Shift+N
edit_copy=Ctrl+C; Ctrl+Ins
edit_cut=Ctrl+X; Shift+Del
edit_new_file=Shift+F4
edit_paste=Ctrl+V; Shift+Ins
emptytrash=none
exec_collect_separate=none
exec_collect_together=none
exec_start_and_forget=none
exec_terminal_embedded=none
exec_terminal_external=none
file_quit=Ctrl+Q
filename_to_clipboard=Ctrl+Alt+C
find=Ctrl+S
focus_panel=Esc
ftp disconnect=Ctrl+Shift+F
ftp new connection=Ctrl+N
go_back=Alt+Left; Back
go_forward=Alt+Right; Forward
go_home=Alt+Home; Home Page
go_up=Alt+Up
help_about_app=none
help_about_kde=none
help_contents=none
help_report_bug=none
help_whats_this=Shift+F1
history=Ctrl+H
invert=Alt+*
jump_back=Ctrl+J
konfigurator=none
left bookmarks=none
left history=Ctrl+Alt+Left
left media=Ctrl+Shift+Left
locate=Ctrl+Shift+L
location_bar=Ctrl+L
lock tab=none
manage useractions=none
match checksum=none
media=Ctrl+M
mountman=Alt+/
move_focus_down=Ctrl+Shift+Down
move_focus_up=Ctrl+Shift+Up
move_tab_to_other_side=Ctrl+Shift+O
multirename=Shift+F9
new symlink=Ctrl+Alt+S
new tab=Ctrl+Alt+N
next tab=Shift+Right
options_configure_keybinding=none
options_configure_toolbars=none
options_show_statusbar=none
options_show_toolbar=none
pack=Alt+Shift+P
previous tab=Shift+Left
profile=Alt+Shift+L
properties=Alt+Return
queue manager=Alt+Shift+Q
quick_filter=Ctrl+I
restore_selection=none
right bookmarks=none
right history=Ctrl+Alt+Right
right media=Ctrl+Shift+Right
rightclick menu=Menu
root=Ctrl+Backspace
root krusader=Alt+Shift+K
sample_amarok_enqueue=Meta+A
sample_edit_as_root=Ctrl+E
sample_newmount=Ctrl+Alt+M
sample_panesize=Ctrl+Alt+
save position=none
select all=Alt++
select group=Ctrl++
select_different=none
select_different_and_single=none
select_newer=none
select_newer_and_single=none
select_single=none
set_jump_back=Ctrl+Shift+J
show_view_options_menu=none
sort_by_extension=Meta+2
sort_by_modified=Meta+4
sort_by_name=Meta+1
sort_by_size=Meta+3
split=Ctrl+P
std_redisplay=Ctrl+R
swap panels=Ctrl+U
switch_application_language=none
switch_fullscreen_te=Ctrl+F
sync browse=Alt+Shift+Y
sync dirs=Ctrl+Y
sync panels=Alt+Shift+O
tab=Tab
terminal@home=none
test archives=Alt+Shift+E
toggle actions toolbar=none
toggle command line=none
toggle fn bar=none
toggle hidden files=Ctrl+.
toggle popup panel=Alt+Down
toggle previews=none
toggle swap sides=Ctrl+Shift+U
toggle terminal emulator=Ctrl+Alt+T
toggle vertical mode=Ctrl+Alt+R
trashbin=none
unpack=Alt+Shift+U
unselect all=Alt+-
unselect group=Ctrl+-
view0=Alt+Shift+D
view1=Alt+Shift+B
view_apply_settings_to_others=none
view_save_default_settings=none
zoom_in=none
zoom_out=none
