<kpartgui version="1" name="katepart">
  <ActionProperties>
    <Action shortcut="Ctrl+Down; Shift+Del" name="edit_cut"/>
    <Action shortcut="Ctrl+Right; Shift+Ins" name="edit_paste"/>
    <Action shortcut="Ctrl+Left; Ctrl+Ins" name="edit_copy"/>
    <Action shortcut="Ctrl+Alt+Right" name="file_save"/>
    <Action shortcut="Meta+Alt+Left" name="edit_undo"/>
    <Action shortcut="Meta+Alt+Right" name="edit_redo"/>
    <Action shortcut="Alt+Shift+Up" name="tools_scripts_jumpIndentUp"/>
    <Action shortcut="Alt+Shift+Down" name="tools_scripts_jumpIndentDown"/>
    <Action shortcut="Ctrl+Alt+W" name="tools_scripts_quickCodingExpand"/>
    <Action shortcut="Ctrl+Shift+Down" name="tools_scripts_moveLinesDown"/>
    <Action shortcut="Ctrl+Shift+Up" name="tools_scripts_moveLinesUp"/>
    <Action shortcut="Ctrl+D" name="tools_comment"/>
    <Action shortcut="Ctrl+Shift+D" name="tools_uncomment"/>
    <Action shortcut="F1" name="tools_toggle_comment"/>
    <Action shortcut="Ctrl+U" name="tools_uppercase"/>
    <Action shortcut="Ctrl+Shift+U" name="tools_lowercase"/>
    <Action shortcut="Ctrl+Alt+U" name="tools_capitalize"/>
    <Action shortcut="Ctrl+J" name="tools_join_lines"/>
    <Action shortcut="Ctrl+Space" name="tools_invoke_code_completion"/>
    <Action shortcut="Meta+Alt+Up" name="tools_create_snippet"/>
    <Action shortcut="Meta+Up" name="tools_snippets"/>
    <Action shortcut="Ctrl+P" name="file_print"/>
    <Action shortcut="F5; Refresh" name="file_reload"/>
    <Action shortcut="Ctrl+G" name="go_goto_line"/>
    <Action shortcut="Alt+Up" name="edit_select_all"/>
    <Action shortcut="Ctrl+Shift+A" name="edit_deselect"/>
    <Action shortcut="Ctrl++; Ctrl+=" name="view_inc_font_sizes"/>
    <Action shortcut="Ctrl+-" name="view_dec_font_sizes"/>
    <Action shortcut="Ctrl+Shift+B" name="set_verticalSelect"/>
    <Action shortcut="Ins" name="set_insert"/>
    <Action shortcut="F10" name="view_dynamic_word_wrap"/>
    <Action shortcut="F9" name="view_folding_markers"/>
    <Action shortcut="F6" name="view_border"/>
    <Action shortcut="F11" name="view_line_numbers"/>
    <Action shortcut="F7" name="switch_to_cmd_line"/>
    <Action shortcut="Meta+Ctrl+W" name="view_vi_input_mode"/>
    <Action shortcut="Ctrl+F" name="edit_find"/>
    <Action shortcut="Ctrl+Alt+Down" name="edit_find_selected"/>
    <Action shortcut="Ctrl+Shift+H" name="edit_find_selected_backwards"/>
    <Action shortcut="F3" name="edit_find_next"/>
    <Action shortcut="Shift+F3" name="edit_find_prev"/>
    <Action shortcut="Ctrl+R" name="edit_replace"/>
    <Action shortcut="Ctrl+Shift+O" name="tools_toggle_automatic_spell_checking"/>
    <Action shortcut="Ctrl+B" name="bookmarks_toggle"/>
    <Action shortcut="Alt+PgDown" name="bookmarks_next"/>
    <Action shortcut="Alt+PgUp" name="bookmarks_previous"/>
    <Action shortcut="Shift+Left" name="select_char_left"/>
    <Action shortcut="Ctrl+Shift+Left" name="select_word_left"/>
    <Action shortcut="Shift+Right" name="select_char_right"/>
    <Action shortcut="Ctrl+Shift+Right" name="select_word_right"/>
    <Action shortcut="Home" name="beginning_of_line"/>
    <Action shortcut="Ctrl+Home" name="beginning_of_document"/>
    <Action shortcut="Shift+Home" name="select_beginning_of_line"/>
    <Action shortcut="Ctrl+Shift+Home" name="select_beginning_of_document"/>
    <Action shortcut="End" name="end_of_line"/>
    <Action shortcut="Ctrl+End" name="end_of_document"/>
    <Action shortcut="Shift+End" name="select_end_of_line"/>
    <Action shortcut="Ctrl+Shift+End" name="select_end_of_document"/>
    <Action shortcut="Shift+Up" name="select_line_up"/>
    <Action shortcut="Down" name="move_line_down"/>
    <Action shortcut="Up" name="move_line_up"/>
    <Action shortcut="Right" name="move_cursor_right"/>
    <Action shortcut="Left" name="move_cusor_left"/>
    <Action shortcut="Shift+Down" name="select_line_down"/>
    <Action shortcut="PgUp" name="scroll_page_up"/>
    <Action shortcut="Shift+PgUp" name="select_page_up"/>
    <Action shortcut="Ctrl+PgUp" name="move_top_of_view"/>
    <Action shortcut="Ctrl+Shift+PgUp" name="select_top_of_view"/>
    <Action shortcut="PgDown" name="scroll_page_down"/>
    <Action shortcut="Shift+PgDown" name="select_page_down"/>
    <Action shortcut="Ctrl+PgDown" name="move_bottom_of_view"/>
    <Action shortcut="Ctrl+Shift+PgDown" name="select_bottom_of_view"/>
    <Action shortcut="Ctrl+6" name="to_matching_bracket"/>
    <Action shortcut="Ctrl+Shift+6" name="select_matching_bracket"/>
    <Action shortcut="Ctrl+T" name="transpose_char"/>
    <Action shortcut="Ctrl+K" name="delete_line"/>
    <Action shortcut="Ctrl+Backspace" name="delete_word_left"/>
    <Action shortcut="Ctrl+Del" name="delete_word_right"/>
    <Action shortcut="Del" name="delete_next_character"/>
    <Action shortcut="Backspace; Shift+Backspace" name="backspace"/>
    <Action shortcut="Shift+Return; Shift+Enter" name="smart_newline"/>
    <Action shortcut="Ctrl+I" name="tools_indent"/>
    <Action shortcut="Ctrl+Shift+I" name="tools_unindent"/>
    <Action shortcut="Ctrl+Shift+-" name="folding_toplevel"/>
    <Action shortcut="Meta+Ctrl+Alt+Right" name="doccomplete_sh"/>
    <Action shortcut="Ctrl+8" name="doccomplete_bw"/>
    <Action shortcut="Ctrl+9" name="doccomplete_fw"/>
  </ActionProperties>
</kpartgui>
