.a-f-e { position: relative; display: inline-block; }
* html .a-f-e, :first-child + html .a-f-e { display: inline; }
.g-rba-Dh-kQa { margin: 0px; padding: 0px; background-color: transparent; }
.hAa { cursor: pointer; display: block; outline: 0px none; position: relative; text-decoration: none; }
.ah { width: 38px; height: 24px; }
.Bg .ah { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0px -43px transparent; }
.Bg .ah:hover { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0px -413px transparent; }
.Bg .ah:active { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0px -576px transparent; }
.kT { color: rgb(102, 102, 102); font: 11px/1 arial,sans-serif; white-space: normal; display: inline-block; }
.QLa { vertical-align: top; }
.RLa { padding-left: 1px; }
.Aka { color: rgb(51, 102, 204); text-decoration: none; }
.Bca { vertical-align: top; padding-right: 5px; white-space: nowrap; }
.gX { border-collapse: collapse; display: table; }
.f8 { display: table-row; }
.Nv { border-spacing: 0px; display: table-cell; font-size: 11px; padding: 0px; text-align: left; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
}
