{{extend 'qastack_layout.html'}}
{{include 'admin_common.html'}}

<script type="text/javascript">
<!--
     document.getElementById('aadmin').className = 'active';
//-->

</script>

{{if view_info['errors']:}}
    <p class="err">{{=XML(T('There was one or more errors while processing your request, please correct the following'))}}</p>
    <ul>
        {{for error in view_info['errors']:}}
            <li class="err">{{=XML(T(error))}}</li>
        {{pass}}
    </ul>
{{elif request.vars.get('saved') is not None:}}
    <p class="notification">Preferences have been saved</p>
{{pass}}

<h2 class="fancy">User Administration - Edit User {{=username}}</h2>

<form method="post" id="user_edit_form" action="" enctype="multipart/form-data">
    <fieldset id="user_edit_form_fields">
        <input type="hidden" id="form_submitted" name="form_submitted" value="1" />
        <input type="hidden" id="username" name="username" value="{{=username}}" />

        <table cellspacing="0" cellpadding="0" class="ftable">
            <tbody>
                <tr class="shadedark">
                    <td>{{=XML(T('User ID'))}}:</td>
                    <td>{{=username}}</td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Current Role'))}}:</td>
                    <td>
                        {{=view_info['props']['user_role_name']}}&nbsp;&nbsp;
                        <span style="color:#{{=view_info['props']['user_role_color']}};background-color:#{{=view_info['props']['user_role_color']}};border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Change To:
                        <select id="new_role" name="new_role">
                            {{for role in roles:}}
                                <option value="{{=role.id}}"
                                        {{if view_info['props']['user_role_name'] == role.role_name:}}selected="selected"{{pass}}>{{if view_info['props']['user_role_name'] == role.role_name:}}No Change{{else:}}{{=role.role_name}}{{pass}}
                                </option>
                            {{pass}}
                        </select>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>
                        {{=XML(T('Contact Email'))}}:
                    </td>
                    <td>
                        <input type="text" style="width:250px;" class="formelem" name="second_email" id="second_email"
                        value="{{=request.vars.get('second_email', view_info['props']['second_email'])}}" />
                        <a href="javascript:void(0);" title="" onclick="return false;"
                        class="help"><img src="{{=URL(r=request, c='static/images', f='questionmark.png')}}" alt=""
                        style="vertical-align:middle;height:20px;width:20px;" /><div>Use this email as your main
                        contact email in case you do not wish to use your main email address. This includes internal
                        correspondence, and disclosure of your email among members.</div></a>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('New Password'))}}:</td>
                    <td><input type="password" style="width:250px;" class="formelem" name="new_passwd" id="new_passwd"
                    value="" />
                    <a href="javascript:void(0);" title="" onclick="return false;"
                       class="help"><img src="{{=URL(r=request, c='static/images', f='questionmark.png')}}" alt=""
                       style="vertical-align:middle;height:20px;width:20px;" /><div>Leave empty for no change.</div></a>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('New Password Confirmation'))}}:</td>
                    <td><input type="password" style="width:250px;" class="formelem" name="new_passwd_confirm" id="new_passwd_confirm"
                    value="" />
                    <a href="javascript:void(0);" title="" onclick="return false;"
                       class="help"><img src="{{=URL(r=request, c='static/images', f='questionmark.png')}}" alt=""
                       style="vertical-align:middle;height:20px;width:20px;" /><div>Leave empty for no change.</div></a>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Display Name'))}}:</td>
                    <td>
                        <input type="text" style="width:250px;" class="formelem" name="display_name" id="display_name"
                        value="{{=request.vars.get('display_name', view_info['props']['display_name'])}}" />
                        <a href="javascript:void(0);" title="" onclick="return false;"
                        class="help"><img src="{{=URL(r=request, c='static/images', f='questionmark.png')}}" alt=""
                        style="vertical-align:middle;height:20px;width:20px;" /><div>Display Name is the
                        name that will show up on each question/answer/comment in the system, you may not change
                        this too often, as members tend to recognize a particular user by their display name.</div></a>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Real Name'))}}:</td>
                    <td>
                        <input type="text" style="width:250px;" class="formelem" name="real_name" id="real_name"
                        value="{{=request.vars.get('real_name', view_info['props']['real_name'])}}" />
                        <a href="javascript:void(0);" title="" onclick="return false;"
                        class="help"><img src="{{=URL(r=request, c='static/images', f='questionmark.png')}}" alt=""
                        style="vertical-align:middle;height:20px;width:20px;" /><div>For informational purposes and
                        personalized email/mesages by administrators only, it is ok to leave empty
                        if desired.</div></a>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Web Page'))}}:</td>
                    <td><input type="text" style="width:250px;" class="formelem" name="web_page" id="web_page"
                    value="{{=request.vars.get('web_page', view_info['props']['web_page'])}}" /></td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('City/Country'))}}:</td>
                    <td><input type="text" style="width:250px;" class="formelem" name="country" id="country"
                    value="{{=request.vars.get('country', view_info['props']['country'])}}" /></td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Questions'))}}:</td>
                    <td>{{=view_info['props']['questions']}}</td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Answers'))}}:</td>
                    <td>{{=view_info['props']['answers']}}</td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Comments'))}}:</td>
                    <td>{{=view_info['props']['comments']}}</td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Reputation Points'))}}:</td>
                    <td>{{=int(view_info['props']['points_up']) - int(view_info['props']['points_dn'])}} (+{{=view_info['props']['points_up']}} / -{{=view_info['props']['points_dn']}})</td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Question Subscriptions'))}}:</td>
                    <td>
                        {{if len(question_subscriptions):}}
                            <select id="remove_questions_subscriptions" name="remove_questions_subscription" multiple="multiple"
                                    style="width:250px;height:100px;">
                                {{for question in question_subscriptions:}}
                                    <option value="{{=question.id}}">{{=question.title}}</option>
                                {{pass}}
                            </select>
                        {{else:}}
                            {{=XML(T('Not subscribed to any questions'))}}
                        {{pass}}
                        <a href="javascript:void(0);" title="" onclick="return false;"
                        class="help"><img src="{{=URL(r=request,
                        c='static/images',
                        f='questionmark.png')}}" alt=""
                        style="vertical-align:middle;height:20px;width:20px;border:0;"
                        /><div>If subscribed to any questions, select the ones that you wish to unsubscribe from and submit your form.</div></a>
                    </td>
                </tr>
                <tr class="shadedark">
                    <td>{{=XML(T('Avatar'))}}:</td>
                    <td>
                        {{if stackhelper.has_member_avatar(user_id):}}
                            <img src="{{=URL(r=request, c='members', f='get_avatar_image', args=[user_id])}}" alt="" />
                            <label for="remove_avatar">{{=XML(T('Disable'))}}:</label>
                            <input type="checkbox" id="remove_avatar" name="remove_avatar" {{if request.vars.get('remove_avatar', ''):}}checked="checked"{{pass}} />
                            <br />
                        {{pass}}
                        <input type="file" id="avatar_data" name="avatar_data" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pad-comment">
            <input type="submit" id="update_b" name="update_b" value="{{=XML(T('Update Profile'))}}" />
            <input type="submit" id="cancel_b" name="cancel_b" value="{{=XML(T('Cancel'))}}" />
        </div>
    </fieldset>
</form>