{{extend 'qastack_layout.html'}}
{{include 'admin_common.html'}}

<script type="text/javascript">
<!--
     document.getElementById('aadmin').className = 'active';
//-->

</script>

{{if request.vars.get('saved') is not None:}}
    <div class="info">Changes Saved</div>
{{pass}}

<h2 class="fancy">System Administration</h2>

<form id="system_props_form" method="post">
    <fieldset id="system_props_form_fields">
        <input type="hidden" id="form_submitted" name="form_submitted" value="1" />
        
        <div class="paragraph">
            <input type="submit" id="submit1" value="Save Changes" onclick="return confirm('Please confirm you wish to save your changes')" />
        </div>

        {{for prop in sys_properties:}}
            {{if prop.property_name == 's_info_html':}}
                <p>{{=prop.property_desc}}:</p>
                <div class="paragraph-big">
                    <textarea id="{{=prop.property_name}}"
                              name="{{=prop.property_name}}"
                              style="width:90%;height:130px;"
                              cols="0"
                              rows="0">{{=prop.property_value}}</textarea>
                    <input type="hidden" id="property_names" name="property_names" value="{{=prop.property_name}}" />
                </div>
                {{break}}
            {{pass}}
        {{pass}}
        
        {{for prop in sys_properties:}}
            {{if prop.property_name != 's_info_html':}}
                <p>{{=prop.property_desc}}:</p>
                <div class="paragraph-big">
                    <input type="text"
                           id="{{=prop.property_name}}"
                           name="{{=prop.property_name}}"
                           style="width:50%;"
                           value="{{=prop.property_value}}" />
                    <input type="hidden" id="property_names" name="property_names" value="{{=prop.property_name}}" />
                </div>
            {{pass}}
        {{pass}}
                
        <div class="paragraph">
            <input type="submit" id="submit2" value="Save Changes" onclick="return confirm('Please confirm you wish to save your changes')" />
        </div>

    </fieldset>
</form>
