/* ::::: http://www.gstatic.com/codesite/ph/13105533463844027904/css/core.css ::::: */

body { background: none repeat scroll 0% 0% rgb(255, 255, 255); font: 82% arial,sans-serif; margin: 3px 0px; min-width: 768px; }
.headbg { margin: 0px 8px; }
a:link, a:focus { color: rgb(0, 0, 204); }
a:active { color: red; }
select, input { font-family: arial,sans-serif; }
input[type="text"] { border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204); border-style: solid; border-width: 1px; padding: 2px 1px; }
input[type="button"], input[type="submit"], .buttonify { font-size: 100%; background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(221, 221, 221)) repeat scroll 0% 0% transparent; vertical-align: baseline; padding: 1px 3px; border-width: 1px; border-style: solid; border-right: 1px solid rgb(170, 170, 170); border-left: 1px solid rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(204, 204, 204) rgb(170, 170, 170) rgb(136, 136, 136); border-radius: 3px 3px 3px 3px; cursor: pointer; text-decoration: none; }
input[type="button"]:hover, input[type="submit"]:hover, .buttonify:hover { border-color: rgb(102, 102, 102); text-decoration: none ! important; }
.mode_button_active, .buttonify:active, input[type="button"]:active, input[type="submit"]:active { background: -moz-linear-gradient(center top , rgb(227, 227, 227), rgb(249, 249, 249)) repeat scroll 0% 0% transparent; border-color: rgb(170, 170, 170); }
textarea { border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204); border-style: solid; border-width: 1px; }
pre { font-size: 110%; }
form { padding: 0px; margin: 0px; }
.gtb { background: none repeat scroll 0% 0% rgb(235, 239, 249); border-bottom: 1px solid rgb(107, 144, 218); padding: 5px 10px 0px 5px; white-space: nowrap; }
.gtb .tab { color: rgb(0, 0, 204); cursor: pointer; float: left; margin: 5px 15px 6px 10px; }
.gtb .active { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(107, 144, 218) rgb(107, 144, 218) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(0, 0, 0); cursor: default; font-weight: bold; margin: 0px 5px -1px 0px; padding: 5px 9px 6px; text-decoration: none; }
.gtb .gtbc { clear: left; }
.subt { background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(241, 241, 241)) repeat scroll 0% 0% transparent; border-bottom: 1px solid rgb(204, 204, 204); padding: 0px 0px 0px 14px; height: 33px; }
table { border-collapse: separate; }
.bevel-left, .bevel-right { padding: 0px; }
#maincol { padding: 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.gbh { border-top: 1px solid rgb(201, 215, 241); font-size: 1px; height: 0px; position: absolute; top: 24px; width: 100%; }
#plogo { width: 55px; text-align: center; vertical-align: bottom; }
#pname { font-size: 300%; margin: 0px; padding: 0px; }
#pname a, #pname a:visited { text-decoration: none; color: rgb(102, 102, 102); }
#project_summary_link { text-decoration: none; color: rgb(68, 68, 68); }
.vt { vertical-align: top; }
h1 { font-size: x-large; margin-top: 0px; }
h2 { font-size: large; }
img { border: 0px none; }
#gaia { text-align: right; margin-bottom: 10px; }
#gaia a { color: rgb(0, 0, 204); text-decoration: none; }
#footer { clear: both; text-align: center; margin-top: 3.5em; margin-bottom: 1em; height: 53px; background-repeat: no-repeat; background-position: left center; }
#footer .text { padding-top: 20px; }
.label { text-decoration: none; color: green ! important; }
.label:hover { text-decoration: underline; }
input { padding-left: 1px; padding-right: 1px; }
textarea { padding-left: 1px; padding-right: 1px; }
.author { margin-bottom: 1em; }
.menuDiv { margin-top: 5px; border-color: rgb(201, 215, 241) rgb(51, 102, 204) rgb(51, 102, 204) rgb(162, 186, 231); border-style: solid; border-width: 1px; z-index: 1001; padding: 0px; width: 175px; background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; }
.menuDiv .menuText { padding: 3px; text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.menuDiv .menuItem { color: rgb(0, 0, 204); padding: 3px; text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.menuDiv .menuItem:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(51, 102, 204); }
.menuDiv .categoryTitle { padding-left: 1px; }
.menuDiv .menuCategory, .menuDiv .categoryTitle { margin-top: 4px; }
.menuDiv .menuSeparator { margin: 0px 0.5em; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(201, 215, 241) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.hostedBy { text-align: center; }
.graytext { color: rgb(102, 102, 102); }
.userlink { white-space: nowrap; }
:first-child + html .goog-inline-block { display: inline; }
/* ::::: http://www.gstatic.com/codesite/ph/13105533463844027904/css/ph_detail.css ::::: */

#wikipage { background: none repeat scroll 0% 0% rgb(248, 248, 248); padding-bottom: 10px; }
#wikipage #wikimaincol { border: 1px solid rgb(204, 204, 204); }
#wikimaincol { padding: 5px 25px 10px 10px; background-color: rgb(255, 255, 255); min-width: 64em; }
#wikiheader { padding-top: 10px; margin-bottom: 12px; }
#wikicontent h1, #wikicontent h2, #wikicontent h3, #wikipreview h1, #wikipreview h2, #wikipreview h3 { background: none repeat scroll 0% 0% transparent; border: 0px none; padding-left: 0px; max-width: 700px; }
#wikicontent ul, #wikipreview ul, #wikicontent ol, #wikipreview ol { padding-left: 25px; max-width: 62em; }
#wikicontent li, #wikipreview li { margin-bottom: 0.3em; }
#wikicontent p, #wikipreview p { line-height: 1.25em; max-width: 64em; }
#wikiauthor { clear: both; text-align: right; font-size: x-small; }
a.section_anchor:before { content: "¶"; }
a.section_anchor { display: none; text-decoration: none; margin-left: 0.7em; font-weight: lighter; font-size: 85%; }
h1:hover a.section_anchor, h2:hover a.section_anchor, h3:hover a.section_anchor, h4:hover a.section_anchor, h5:hover a.section_anchor, h6:hover a.section_anchor { display: inline; color: rgb(187, 187, 187); }
h1 a.section_anchor:hover, h2 a.section_anchor:hover, h3 a.section_anchor:hover, h4 a.section_anchor:hover, h5 a.section_anchor:hover, h6 a.section_anchor:hover { color: rgb(51, 51, 204); }
#wikicontent code, tt, #wikicontent pre, #wikipreview code, tt, #wikipreview pre { font-family: Monaco,'DejaVu Sans Mono','Bitstream Vera Sans Mono','Lucida Console',monospace; font-size: 93%; max-width: 66em; }
pre.prettyprint { padding: 0.5em; overflow: auto; font-family: Monaco,'DejaVu Sans Mono','Bitstream Vera Sans Mono','Lucida Console',monospace; font-size: 93%; }
#wikicontent pre.prettyprint, #wikipreview pre.prettyprint { background-color: rgb(238, 238, 238); max-width: 70em; }
.prettyprint .str { color: rgb(0, 136, 0); }
.prettyprint .kwd { color: rgb(0, 0, 136); }
.prettyprint .com { color: rgb(136, 0, 0); }
.prettyprint .lit { color: rgb(0, 102, 102); }
.prettyprint .pun { color: rgb(102, 102, 0); }
.prettyprint .pln { color: rgb(0, 0, 0); }
.author { padding-left: 0.7em; }
#maincol { padding-top: 0px; padding-bottom: 0px; }
.commentcontent { margin: 2em; padding: 0px 10px; width: 66em; }
.artifactcomment { border-top: 3px solid rgb(195, 217, 255); }
#commentform { border-top: 3px solid rgb(195, 217, 255); }
