/* ::::: http://wiki.xfce.org/lib/exe/css.php?t=xfce&tseed=1358197876 ::::: */

@media screen {
}
@media screen {
	.JSpopup, #link__wiz { position: absolute; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); z-index: 20; overflow: hidden; }
	.a11y { position: absolute ! important; left: -99999em ! important; top: auto ! important; width: 1px ! important; height: 1px ! important; overflow: hidden ! important; }
	.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
	.code .kw3 { color: rgb(0, 0, 102); }
	.code .nu0 { color: rgb(204, 102, 204); }
	.code .re2 { color: rgb(0, 0, 255); }
	.code .st0 { color: rgb(255, 0, 0); }
	.code .sy0 { color: rgb(102, 204, 102); }
	button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
	.dokuwiki div.plugin_translation { float: right; font-size: 95%; padding-right: 0.1em; margin: 0em 0px 0.3em; text-align: right; }
	.dokuwiki div.plugin_translation select, .dokuwiki div.plugin_translation input { border: medium none; background-color: rgb(204, 204, 204); }
	.dokuwiki div.plugin_translation select.wikilink1, .dokuwiki div.plugin_translation option.wikilink1 { color: rgb(0, 0, 128); text-align: center; }
	.dokuwiki div.plugin_translation select.wikilink2, .dokuwiki div.plugin_translation option.wikilink2 { color: rgb(128, 128, 128); text-align: center; }
	html { overflow-x: auto; overflow-y: scroll; }
	html, body { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(238, 238, 238); margin: 0px; padding: 0px; }
	body { font: 87.5%/1.4 Arial,sans-serif; }
	h1, h2, h3, h4, h5, h6, caption, legend { font-family: Arial,sans-serif; font-weight: normal; padding: 0px; line-height: 1.2; clear: left; }
	h1 { font-size: 2em; margin: 0px 0px 0.444em; }
	h2 { font-weight: bold; font-size: 1.5em; margin: 0px 0px 0.666em; }
	h3 { font-weight: bold; font-size: 1.125em; margin: 0px 0px 0.888em; }
	h4 { font-weight: bold; font-size: 1em; margin: 0px 0px 1em; }
	h5 { font-size: 0.875em; margin: 0px 0px 1.1428em; }
	p, ul, ol, dl, pre, table, hr, blockquote, fieldset, address { margin: 0px 0px 1.4em; padding: 0px; }
	div { margin: 0px; padding: 0px; }
	ul, ol { padding: 0px 0px 0px 1.5em; }
	li, dd { padding: 0px; margin: 0px 0px 0px 1.5em; }
	li ul, li ol, li dl, dl ul, dl ol, dl dl { margin-bottom: 0px; padding: 0px; }
	li li { font-size: 100%; }
	ul { list-style: square outside none; }
	ol { list-style: decimal outside none; }
	a { outline: medium none; }
	a:link, a:visited { text-decoration: none; color: rgb(0, 102, 204); }
	a:link:hover, a:visited:hover, a:link:focus, a:visited:focus, a:link:active, a:visited:active { text-decoration: underline; color: rgb(255, 0, 0); }
	img { border-width: 0px; vertical-align: middle; color: rgb(102, 102, 102); background-color: transparent; font-style: italic; height: auto; }
	img, object { max-width: 100%; }
	hr { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(255, 255, 255); border-width: 1px 0px; height: 0px; width: 100%; text-align: center; clear: both; }
	acronym, abbr { cursor: help; border-bottom: 1px dotted; font-style: normal; }
	pre, code, samp, kbd { font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace; font-size: 1em; direction: ltr; text-align: left; background-color: rgb(238, 238, 238); color: rgb(51, 51, 51); box-shadow: 0px 0px 0.3em rgb(204, 204, 204) inset; border-radius: 2px 2px 2px 2px; }
	pre { overflow: auto; word-wrap: normal; border: 1px solid rgb(204, 204, 204); border-radius: 2px 2px 2px 2px; box-shadow: 0px 0px 0.5em rgb(204, 204, 204) inset; padding: 0.7em 1em; }
	sub, sup { font-size: 0.8em; line-height: 1; }
	sup { vertical-align: super; }
	form { display: inline; margin: 0px; padding: 0px; }
	input, textarea, button, select, optgroup, option { font-family: inherit; font-style: inherit; font-variant: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; -moz-font-feature-settings: inherit; -moz-font-language-override: inherit; font-weight: normal; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); line-height: 1; margin: 0px; vertical-align: middle; -moz-box-sizing: border-box; }
	optgroup { font-style: italic; font-weight: bold; }
	option { font-style: normal; font-weight: normal; }
	input, textarea, select { border: 1px solid rgb(204, 204, 204); box-shadow: 0px 0px 1px rgb(238, 238, 238) inset; border-radius: 2px 2px 2px 2px; }
	input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus { border-color: rgb(153, 153, 153); }
	input[type="submit"], input.button, a.button, button, .qq-upload-button { color: rgb(51, 51, 51); background-color: rgb(238, 238, 238); background-image: url('undefined'); border: 1px solid rgb(204, 204, 204); border-radius: 2px 2px 2px 2px; padding: 0.1em 0.5em; cursor: pointer; }
	input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, input.button:hover, input.button:active, input.button:focus, a.button:hover, a.button:active, a.button:focus, button:hover, button:active, button:focus, .qq-upload-button:hover { border-color: rgb(153, 153, 153); background-color: rgb(221, 221, 221); background-image: url('undefined'); }
	input::-moz-focus-inner, button::-moz-focus-inner { border: 0px none; padding: 0px; }
	#mediamanager__page .filelist .rows li:nth-child(2n+1) { background-color: rgb(221, 221, 221); }
	.dokuwiki a.wikilink1 {  }
	.dokuwiki a.wikilink2 { text-decoration: none; }
	.dokuwiki a.wikilink2:link, .dokuwiki a.wikilink2:visited { text-decoration: none; }
	.dokuwiki a.wikilink2:hover, .dokuwiki a.wikilink2:active, .dokuwiki a.wikilink2:focus { text-decoration: underline; }
	.dokuwiki span.curid a { font-weight: bold; }
	.dokuwiki a.urlextern, .dokuwiki a.windows, .dokuwiki a.mail, .dokuwiki a.mediafile, .dokuwiki a.interwiki { background-repeat: no-repeat; background-position: 0px center; padding: 0px 0px 0px 18px; }
	.dokuwiki a.urlextern { background-image: url('external-link.png'); }
	#dw__toc { float: right; margin: 0px 0px 1.4em 1.4em; width: 12em; background-color: rgb(238, 238, 238); color: inherit; }
	.dokuwiki h3.toggle { padding: 0.2em 0.5em; font-weight: bold; }
	.dokuwiki .toggle strong { float: right; margin: 0px 0.2em; }
	#dw__toc > div { padding: 0.2em 0.5em; }
	#dw__toc ul { padding: 0px; margin: 0px; }
	#dw__toc ul li { list-style: none outside none; padding: 0px; margin: 0px; line-height: 1.1; }
	#dw__toc ul li div.li { padding: 0.15em 0px; }
	#dw__toc ul ul { padding-left: 1em; }
	#dw__toc ul ul li {  }
	#dw__toc ul li a {  }
	.dokuwiki form.search div.no { position: relative; }
	.dokuwiki form.search div.ajax_qsearch { position: absolute; top: 0px; left: -13.5em; width: 12em; padding: 0.5em; font-size: 0.9em; z-index: 20; text-align: left; display: none; }
	.dokuwiki form { border: medium none; display: inline; }
	.dokuwiki input.edit, .dokuwiki select.edit { vertical-align: middle; }
	.dokuwiki select.edit { padding: 0.1em 0px; }
	.dokuwiki input.button, .dokuwiki button.button { vertical-align: middle; }
	body { margin: 0px auto; }
	#dokuwiki__site { margin: 0px auto; max-width: 1080px; }
	#dokuwiki__site > .site { padding: 0px 0.5em; }
	#dokuwiki__header { width: 100%; }
	#dokuwiki__header > .pad {  }
	#dokuwiki__header .tools {  }
	#dokuwiki__site .wrapper { position: relative; }
	#dokuwiki__footer { clear: both; }
	#dokuwiki__footer > .pad {  }
	#dokuwiki__header { padding-bottom: 0.4em; }
	#dokuwiki__header .headings, #dokuwiki__header .tools {  }
	#dokuwiki__header .tools { margin-top: 0.2em; }
	#dokuwiki__header .mobileTools { display: none; }
	#dokuwiki__sitetools {  }
	#dokuwiki__sitetools div.translation { display: block; float: right; font-size: 0.875em; position: relative; }
	#dokuwiki__sitetools form.search { display: block; float: right; font-size: 0.875em; position: relative; }
	#dokuwiki__sitetools form.search input.edit { width: 18em; padding: 0.35em 22px 0.35em 0.1em; }
	#dokuwiki__sitetools form.search input.button { background: url('search.png') no-repeat scroll 0px 0px transparent; border-width: 0px; width: 19px; height: 14px; text-indent: -99999px; margin-left: -20px; box-shadow: none; padding: 0px; }
	#dokuwiki__sitetools div.breadcrumbs, #dokuwiki__sitetools ul { margin: 0.5em 0px 0px; font-size: 0.9em; }
	.dokuwiki div.breadcrumbs { margin-bottom: 0.5em; font-size: 0.875em; }
	.dokuwiki div.breadcrumbs div { padding: 0.1em 0.35em; }
	.dokuwiki div.breadcrumbs a { color: rgb(0, 102, 204); background-color: inherit; }
	#dokuwiki__content {  }
	.dokuwiki div.page { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: inherit; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; padding: 1.556em 2em 2em; margin-bottom: 0.5em; overflow: hidden; word-wrap: break-word; }
	.dokuwiki .docInfo { font-size: 0.875em; text-align: right; }
	.dokuwiki div.license { font-size: 93.75%; }
	.dokuwiki .wrapper { margin-bottom: 1.4em; }
	#dokuwiki__footer { text-align: center; }
	#dokuwiki__footer > .pad { margin-top: 1em; font-size: 0.875em; color: rgb(153, 153, 153); clear: both; }
	#dokuwiki__footer a.nolink:hover { text-decoration: none; }
	#dokuwiki__footer #footertools div.bar-left { float: left; }
	#dokuwiki__footer #footertools div.bar-right { text-align: right; }
	#dokuwiki__site > .site { padding-right: 40px; padding-left: 40px; }
	.dokuwiki div.page { min-height: 190px; height: auto; }
	#dokuwiki__pagetools { position: absolute; right: -40px; top: 2em; width: 40px; }
	#dokuwiki__pagetools div.tools { position: fixed; width: 40px; }
	#dokuwiki__pagetools ul { position: absolute; right: 0px; text-align: right; margin: 0px; padding: 0px; border: 1px solid transparent; }
	#dokuwiki__pagetools ul li { padding: 0px; margin: 0px; list-style: none outside none; font-size: 0.875em; }
	#dokuwiki__pagetools ul li a { display: block; min-height: 20px; line-height: 20px; padding: 5px 40px 5px 5px; background-image: url('pagetools-sprite.png'); background-position: right 0px; background-repeat: no-repeat; border: 1px solid transparent; white-space: nowrap; }
	#dokuwiki__pagetools ul li a span { position: absolute; clip: rect(0px, 0px, 0px, 0px); }
	#dokuwiki__pagetools:hover ul, #dokuwiki__pagetools ul li a:focus { background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); border-radius: 2px 2px 2px 2px; box-shadow: 2px 2px 2px rgb(153, 153, 153); }
	#dokuwiki__pagetools:hover ul li a span, #dokuwiki__pagetools ul li a:focus span { display: inline; position: static; }
	#dokuwiki__pagetools ul li a:hover, #dokuwiki__pagetools ul li a:active, #dokuwiki__pagetools ul li a:focus { text-decoration: none; }
	#dokuwiki__pagetools ul li a:hover { background-color: rgb(238, 238, 238); }
	#dokuwiki__pagetools ul li a.source { background-position: right -360px; }
	#dokuwiki__pagetools ul li a.source:hover, #dokuwiki__pagetools ul li a.source:active, #dokuwiki__pagetools ul li a.source:focus { background-position: right -405px; }
	#dokuwiki__pagetools ul li a.revs { background-position: right -540px; }
	#dokuwiki__pagetools ul li a.revs:hover, #dokuwiki__pagetools ul li a.revs:active, #dokuwiki__pagetools ul li a.revs:focus, .mode_revisions #dokuwiki__pagetools ul li a.revs { background-position: right -585px; }
	#dokuwiki__pagetools ul li a.backlink { background-position: right -630px; }
	#dokuwiki__pagetools ul li a.backlink:hover, #dokuwiki__pagetools ul li a.backlink:active, #dokuwiki__pagetools ul li a.backlink:focus, .mode_backlink #dokuwiki__pagetools ul li a.backlink { background-position: right -675px; }
	#dokuwiki__pagetools ul li a.top { background-position: right -810px; }
	#dokuwiki__pagetools ul li a.top:hover, #dokuwiki__pagetools ul li a.top:active, #dokuwiki__pagetools ul li a.top:focus { background-position: right -855px; }
	.dokuwiki a.wikilink1 { color: rgb(0, 102, 204); background-color: inherit; }
	.dokuwiki a.wikilink2 { color: rgb(221, 51, 0); background-color: inherit; }
	#dokuwiki__content ul li, #dokuwiki__aside ul li { color: rgb(153, 153, 153); }
	#dokuwiki__content ol li, #dokuwiki__aside ol li { color: rgb(102, 102, 102); }
	#dokuwiki__content li .li, #dokuwiki__aside li .li { color: rgb(51, 51, 51); }
	.JSpopup { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); box-shadow: 0.1em 0.1em 0.1em rgb(204, 204, 204); border-radius: 2px 2px 2px 2px; padding: 0.3em 0.5em; font-size: 0.9em; }
	.dokuwiki form.search div.ajax_qsearch { top: -0.35em; font-size: 1em; text-overflow: ellipsis; }
	#dw__toc { margin: -1.556em -2em 0.5em 1.4em; width: 16em; border-left: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(255, 255, 255); color: inherit; }
	.dokuwiki h3.toggle { padding: 0.5em 1em; margin-bottom: 0px; font-size: 0.875em; letter-spacing: 0.1em; }
	.dokuwiki .toggle strong { background: url('toc-arrows.png') repeat scroll 0px 0px transparent; width: 8px; height: 5px; margin: 0.4em 0px 0px; }
	.dokuwiki .toggle strong span { display: none; }
	#dw__toc > div { font-size: 0.875em; padding: 0.5em 1em 1em; }
	#dw__toc ul { padding: 0px 0px 0px 1.2em; }
	#dw__toc ul li { list-style-image: url('toc-bullet.png'); }
	#dw__toc ul li div.li { padding: 0.2em 0px; }
	#xfce-header { background: url('logosmall.png') no-repeat scroll 3px 50% rgb(51, 51, 51); padding-left: 75px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); font-family: 'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; }
	#xfce-header ul { list-style: none outside none; float: right; margin: 5px; padding: 0px; }
	#xfce-header ul li { float: left; margin: 0px; padding: 0px; }
	#xfce-header a { color: rgb(153, 153, 153); text-decoration: none; display: block; padding: 0px 8px; border: 0px none; line-height: 25px; transition: color 0.2s linear 0s; }
	#xfce-header ul li a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
	#xfce-header .active { color: rgb(255, 255, 255); }
	#xfce-header-clear { clear: both; }
	#xfce-header-title, #xfce-header-subtitle { display: none; }
}
.group { display: inline-block; }
.group { display: block; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
div.no { display: inline; margin: 0px; padding: 0px; }
div.plugin_translation { float: none ! important; margin: auto ! important; padding-left: 0.6em ! important; padding-right: 0px ! important; text-align: left ! important; font-size: 0.925em ! important; }
div.plugin_translation > span { display: none; }
div.plugin_translation select { background-color: transparent ! important; color: rgb(51, 51, 51) ! important; padding: 0.35em 6px 0.35em 0.1em ! important; border: 1px solid rgb(204, 204, 204) ! important; box-shadow: 0px 0px 1px rgb(238, 238, 238) inset ! important; border-radius: 2px 2px 2px 2px ! important; font-size: inherit ! important; }
div.plugin_translation option { text-align: left ! important; }
#screen__mode { position: relative; z-index: 0; }
@media only screen and (max-width: 979px) {
	#screen__mode { z-index: 1; }
	#dw__toc { float: none; margin: 0px 0px 1em; width: auto; border-left-width: 0px; border-bottom: 1px solid rgb(204, 204, 204); }
	.dokuwiki h3.toggle { padding: 0px 0.5em 0.5em 0px; }
	#dw__toc > div, #dokuwiki__aside div.content { padding: 0.2em 0px 0.5em; }
	.dokuwiki div.page { padding: 1em; }
}
@media only screen and (max-width: 480px) {
	#screen__mode { z-index: 2; }
	body { font-size: 100%; }
	#dokuwiki__site { max-width: 100%; }
	#dokuwiki__site > .site { padding: 0px 0.5em; }
	#dokuwiki__header { padding: 0.5em 0px; }
	#dokuwiki__header .headings, #dokuwiki__header .tools { float: none; text-align: left; width: auto; margin-bottom: 0.5em; }
	#dokuwiki__sitetools { text-align: left; }
	#dokuwiki__usertools, #dokuwiki__sitetools ul, #dokuwiki__sitetools h3, #dokuwiki__pagetools, .dokuwiki div.breadcrumbs, .dokuwiki .pageId { display: none; }
	#dokuwiki__sitetools form.search { float: left; margin: 0px 0.2em 0.2em 0px; width: 49%; }
	#dokuwiki__sitetools form.search input.edit { width: 100% ! important; }
	.dokuwiki form.search div.ajax_qsearch { display: none ! important; }
	#dokuwiki__header .mobileTools { display: block; font-size: 0.875em; margin: 0px 0px 0.2em; float: right; width: 49%; }
	#dokuwiki__header .mobileTools select { padding: 0.3em 0.1em; width: 100% ! important; }
	#dokuwiki__sitetools form.search input.edit, #dokuwiki__header .mobileTools select { height: 2.1em; line-height: 2.1em; overflow: visible; }
	#dokuwiki__aside > .pad, .dokuwiki div.page { padding: 0.5em; }
	#config__manager fieldset td.value, #config__manager td .input, .dokuwiki fieldset, .dokuwiki input.edit, .dokuwiki textarea, .dokuwiki select { width: auto ! important; max-width: 100% ! important; }
}
